.demo23 {
    width: 100%;
    float: left;
    position: relative;
}
.demo23 h4 {
    font-size: 18px;
    text-align: left;
    color: #721a0c;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding: 0px 15px;
}
button.event_close {
    top:10px;
    padding: 0px;
    width: 40px;
    height: 40px;
    background: #721a0c;
    color: #fff;
    position: absolute;
    border: 0;
    z-index: 9;
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
    right: 0;
    top: 0;
}
.event_cross {
    position: relative;
}
.set_fix {
    position: fixed;
}
p.event-heading {
    background: #721a0c;
    padding: 10px 15px;
    margin: 0px 0 0 0 !important;
    font-weight: 600;
    color: #fff;

    display: flex;
    width: 600px;
}
button.event_close i {
    margin: 0px;
}
button.event_close:focus {
    outline: none !important;
}
.demo23 p {
    margin: 8px 15px;
    font-size: 16px;
    text-align: justify;
}
p.time_class {
    color: #777;
    font-weight: 600;
    font-size: 14px;
}

img{
    margin: 55px auto 10px;
    width: 200px;
    display: table;
}


.cyberPolicyHeader{
    background-color: rgb(196, 196, 196);
}

button.cyberpolicy_close {
    padding: 0px;
    width: 48px;
    height: 48px;
    background: #721a0c;
    color: #fff;
    position: absolute;
    border: 2;
    z-index: 9;
    font-size: 27px;
    font-weight: 700;
    line-height: 50px;
    right: 0;
    top: 0;
}
