
<div class="mat-new">
    <h4 class="card-heading">
      <button mat-icon-button (click)="goBack()" ><mat-icon>chevron_left</mat-icon> </button>
      ACADEMIC-DEPART <span class="sub-menu1">> Counsellors > MA BN<span class="sub-menu1"> > {{pageTitle}} Coy</span></span>
    </h4>
  </div>
  <mat-card>
    <div class="top-br">
      <form [formGroup]="addsangroForm">
  
        <div class="row">

            <div class="form-group col-md-6">
               <label for="position">Rank<span class="required">*</span></label>
               <input id="name" type="text" class="form-control" maxlength="100" formControlName="rankName"
               placeholder="Rank">
                <span class="validation_msg"
                    *ngIf="f.rankName.errors && f.rankName.errors.required && isError">Please Enter Rank</span>
            </div>
            <div class="form-group col-md-6">
                <label for="position">Name<span class="required">*</span></label>
                <input  type="text" class="form-control" maxlength="100" formControlName="name"
                placeholder="Name">
                 <span class="validation_msg"
                     *ngIf="f.name.errors && f.name.errors.required && isError">Please Enter Name</span>
             </div>
             <div class="form-group col-md-6">
                <label for="position">Mobile<span class="required">*</span></label>
                <input  (keypress)="keyPress($event)"  class="form-control" maxlength="10" formControlName="mobileNumber"
                placeholder="Mobile">
                 <span class="validation_msg"
                     *ngIf="f.mobileNumber.errors && f.mobileNumber.errors.required && isError">Please Enter Mobile</span>
             </div>

        </div> 

  
        <button mat-raised-button *ngIf="pageTitle=='Add SANGRO'" (click)="addSANGRO()">Add </button>
        <button mat-raised-button *ngIf="pageTitle=='View SANGRO'" (click)="updateSANGRO()">Update </button>
  
      </form>
    </div>
  </mat-card>