<div class="mat-new">
    <h4 class="card-heading">Academic Department<span class="sub-menu1"> > Assignments > BS(Behavioural Studies)</span> </h4>
</div>

<mat-card>

    <mat-accordion class="mat-panel11">

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Topic 1</h4>
                </mat-panel-title>
                <mat-panel-description>
                    <!-- This is a summary of the content -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-accordion class="mat-panel11">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Assignment</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Questions</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Answers</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Instructor Marks</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>



                </mat-accordion>

            </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Topic 2</h4>
                </mat-panel-title>
                <mat-panel-description>
                    <!-- This is a summary of the content -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>

                <mat-accordion class="mat-panel11">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Assignment</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Questions</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Answers</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Instructor Marks</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>



                </mat-accordion>

            </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Topic 3</h4>
                </mat-panel-title>
                <mat-panel-description>
                    <!-- This is a summary of the content -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-accordion class="mat-panel11">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Assignment</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Questions</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Answers</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Instructor Marks</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>



                </mat-accordion>

            </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Topic 4</h4>
                </mat-panel-title>
                <mat-panel-description>
                    <!-- This is a summary of the content -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-accordion class="mat-panel11">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Assignment</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Questions</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Answers</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Instructor Marks</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>



                </mat-accordion>

            </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Topic 5</h4>
                </mat-panel-title>
                <mat-panel-description>
                    <!-- This is a summary of the content -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-accordion class="mat-panel11">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Name</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Learning Outcomes</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Required Readings</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Bonus Readings</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Finger Pointed Reading List</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Notes</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>


                </mat-accordion>
            </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Topic 6</h4>
                </mat-panel-title>
                <mat-panel-description>
                    <!-- This is a summary of the content -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-accordion class="mat-panel11">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Assignment</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Questions</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Answers</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Instructor Marks</h4>
                            </mat-panel-title>
                            <mat-panel-description>
                                <!-- This is a summary of the content -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's
                            standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make
                            a type
                            specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining
                            essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum
                            passages,
                            and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>
                    </mat-expansion-panel>



                </mat-accordion>

            </div>

        </mat-expansion-panel>



    </mat-accordion>




</mat-card>