.breadcrum {
    text-transform: capitalize;
    clear: both;
}
.syllabus-paper {
    clear: both;
    height: 76vh;
}

.mt-20 {
    float: left;
    width: 100%;
}

.syllabus-paper .mat-card {
    top: 20px;
}