<div class="mat-new">
    <h4 class="card-heading"><button mat-icon-button (click)="goBack()">
            <mat-icon>chevron_left</mat-icon>
        </button> GSO-2(PGME) <span class="sub-menu1"> > {{term}} > Syllabus > Scholarly > {{pTitle}}</span>
        <span class="sub-menu1"> </span>
    </h4>
</div>
<mat-card>
    <div class="top-br">
        <form [formGroup]="addSyllabusForm">
            <div class="row">

                <div class="form-group col-md-12">
                    <label for="battalion">Name<span class="required">*</span></label>
                    <input type="text" formControlName="name" maxlength="100" placeholder="Name" class="form-control">
                    <span class="validation_msg" *ngIf="f.name.errors && f.name.errors.required && isError">Name is
                        required</span>
                </div>

                <!-- <div class="form-group col-md-4">
                    <label for="battalion">Date<span class="required">*</span></label>
                    <input type="date" [min]="minDate" formControlName="date" maxlength="100" placeholder="Date" class="form-control">
                    <span class="validation_msg" *ngIf="f.date.errors && f.date.errors.required && isError" >Date is required</span>   
                    <span class="validation_msg" *ngIf="f.date.errors && isLessDate && isError" >Please Select a Valid Date</span>   
                </div> -->

                <!-- <div class="form-group col-md-4">
                <label class="form-label">Term<span class="required">*</span> </label>
                <select placeholder="Select Term" class="form-control" formControlName="termId">
                    <option disabled selected hidden></option>
                    <option *ngFor="let t of terms" [value]="t.id">{{t.name}} </option>
                </select>
                <span class="validation_msg" *ngIf="f.termId.errors && f.termId.errors.required && isError" >Term is required</span>   
            </div> -->
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="battalion">Description<span class="char-count"> ({{descLength}}/500) </span><span
                            class="required">*</span></label>
                    <textarea class="form-control" (input)="charCount($event,'description')" id="message"
                        formControlName="description" maxlength="500"
                        placeholder="Description (Maximum 500 Characters)"></textarea>
                    <span class="validation_msg"
                        *ngIf="f.description.errors && f.description.errors.required && isError">Description is
                        required</span>
                </div>
            </div>


            <div class="form-group">
                <label for="battalion">Document<span class="required">*</span></label>
                <input type="file" #inputFile accept=".pdf,.doc,.docx" (change)="onSelectDoc($event)" id="image">
                <mat-icon class="document_icon" *ngIf="docUrl" (click)="openDoc(docUrl)">description</mat-icon>
                <span class="note">Max File Size 50 MB. (Only pdf and doc format.)</span>
                <span class="validation_msg" *ngIf="!isDoc">Document is required</span>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="battalion">Status<span class="required">*</span></label>
                    <select class="form-control" formControlName="status">
                        <option value="" selected hidden disabled>Status</option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span class="validation_msg" *ngIf="f.status.errors && f.status.errors.required && isError">Status
                        is required</span>
                </div>
            </div>

            <button mat-raised-button *ngIf="!id" (click)="addSyllabus()">Add Syllabus</button>
            <button *ngIf="id" mat-raised-button (click)="updateSyllabus()">Update Syllabus</button>
        </form>
    </div>
</mat-card>