<div class="main-content">

    <div class="container-fluid">
      <!-- <div id="top-bar" class="row">
        <h2>E-Dossier - INSTRUCTIONS FOR INTERVIEWS AND COUNSELLING</h2>
      </div> -->
      <div class="warning-instruction">
          <div class="mat-heading">
            <div id="top-bar" class="">
              <h2 class="backbtn"><button mat-icon-button (click)="goBack()">
                <mat-icon>chevron_left</mat-icon>
              </button>E-Dossier <span class="sub-menu1">
                > Interviews > INSTRUCTIONS FOR INTERVIEWS AND COUNSELLING</span></h2>
          </div>
          </div>
        <div class="mat-card mat-focus-indicator">
          <div class="ng-star-inserted">
            
          </div>
          <div class="interview-counselling-description">
            <ol>
              <li class="mb-2">Instructions for initial interview are as given below :-
                <ol class="mt-2 laparent" type="a">
                  <li class="pr-2">
                      Interview to be recorded in ink in the Offr’s own hand.
                  </li>
                  <li class="pr-2">
                    Pl Cdr’s initial interview to be conducted within 24hrs of arr of the GC.
                  </li>
                  <li class="pr-2">Pts to be conveyed by Pl Cdr -
                    <ol class="mt-2 laparent" type="i">
                      <li class="mb-2 pr-2">Welcome.</li>
                      <li class="mb-2 pr-2">Brief on gen conduct of trginclspl emphasis.</li>
                      <li class="mb-2 pr-2">Expectations of the environment.</li>
                      <li class="mb-2 pr-2">Adm Brief.</li>
                      <li class="mb-2 pr-2">Ascertain if the GC has any problem.</li>
                    </ol>
                  </li>
                  <li class="pr-2">Instrs for Coy Cdr for initial interview -
                    <ol class="mt-2 laparent" type="i">
                      <li class="mb-2 pr-2">Interview to be recorded in ink in the Offr’s own hand.</li>
                      <li class="mb-2 pr-2">Coy Cdr’s initial interview to be conducted within 48hrs of arr of the GC.</li>
                      <li class="mb-2 pr-2">Initial interview by Coy Cdr will reaffirm all the obsn of Pl Cdr.</li>
                      <li class="mb-2 pr-2">Check whether the GC has settled down or not.</li>
                      <li class="mb-2 pr-2">Advise him on conduct of trg.</li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li class="mb-2 pr-2"><span class="mr-3"><b>Mid Term Interview.</b></span>Pl Cdr to interview the GC after Mid Term Break and brief him about his performance in various fields and endorse the same. Coy Cdr to guide the GC and enquire about any adm problem being faced. Cases requiring spl attention to be brought to Bn Cdr’s notice.</li>
              <li class="mb-2 pr-2"><span class="mr-3"><b>Beginning of Term Interview.</b></span>Interview to be recorded in ink in the Offr’s own hand. Previous term’s performance to be highlighted and aspects requiring improvement to be brought out.</li>
              <li class="mb-2 pr-2"><span class="mr-3"><b>Special Interview.</b></span>By Coy Cdr/ Bn Cdr for GC who wishes to resign and also for those who merit attention due to various reasons.</li>
              <li class="mb-2 pr-2"><span class="mr-3"><b>Obsn Sheet.</b></span>Any significant obsn which is brought to the notice of the Pl/Coy Cdr to be endorsed in this space. Good obsns should be endorsed in blue ink while adverse obsns to be endorsed in red ink.Actions taken by the Pl/Coy Cdr to be mentioned in the Remarks coln.</li>
              <li class="mb-2 pr-2"><span class="mr-3"><b>Counselling.</b></span>A GC will be counselled by Pl Cdr/ Coy Cdr/ BnCdr on poor performance in various fields and for not adhering to laid down norms.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>  
  </div>
