<div class="container-fluid" style="background-image: url('https://joinindianarmy.nic.in/writereaddata/Portal/Template_ScriptBanner/Banner_1_1_helicopter.jpg'); height: 180px;background-size: cover;float: left;
    width: 100%;">
  <div class="row" id="top-baner" style="display: flex;align-items: center;height: 100%;">
    <div class="col-md-12">
      <h1 class="cms">Entries</h1>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 30px;float: left;width: 100%;">
  
  <div class="row">
    <div class="col-md-10" id="con-r">
     
      <img src="assets/img/entries.png">
      <br/>
      <br/>
      <p>
       
          <u><strong>The Indian Military Academy presently has the following entries</strong></u>:-
<br/>
        1.<u><strong> Regular Course.</strong></u> Comprising Cadets ex National Defence Academy and ex Army Cadet College Wing (Siachen Bn) and Direct Entry Scheme (for Graduates in Arts/Sc/Commerce through CDS and SSB).
        <br/>
        2.<u><strong> Tech Graduates Course.</strong> </u>For BE graduates/PG students with Science and Humanities. They appear for the SSB tests only.
        <br/>
        3.<u><strong> UES Entry.</strong></u> For final and pre final year Engineering graduates.
        
        The duration of Training is one year except for the Direct Entry Scheme, for which it is one and a half years. Graduates opting for Direct Entry (between 19-24 age group) are required to qualify Combined Defence Service Examination conducted by the UPSC and the final selection is done through the Service Selection Boards. Army Cadets from NDA and ACC join after completing three year degree course at respective training establishments. The technical graduates, who are engineering/PG candidates, are not required to write a written examination but need to be selected by respective SSBs. On successful completion of training at IMA, all entrants receive Commissioned rank of Lieutenant. However, UES and TGC (with BE) entries get one year ante date seniority over their course mates. This is to compensate for the extra time they spend to earn the Engineering Degree before commissioning. With the ante date seniority, opportunities widen for faster promotions in addition to pay benefits.
    </p>

      <h4 style="font-weight: 700;"><u><strong>Foreign Cadets </strong></u></h4>
      <p>Since 1948, cadets from friendly foreign countries namely Angola, Afghanistan, Bhutan, Botswana, Myanmar, Ethiopia, Ghana, Iraq, Jamaica, Lesotho, Malaysia, Maldives, Mauritius, Mongolia, Nepal, Nigeria, Palestine, Philippines, Papua New Guinea, Seychelles, Singapore, Sri Lanka, Tanzania, Tonga, Uganda, Yemen and Zambia are being sponsored by respective countries for training at IMA. In recent years, GCs from Central Asian Republics like Kazakhstan, Kyrgyzstan and Tajikistan have also been trained at this Academy. In addition, the Academy arranges for mutual exchange programmes of its interns to foreign military Academies on regular basis.</p>
      <p>
        Some of these foreign alumni of the Academy have done exceptionally well. In June 1966, GC Lokot Zamani of Nigeria was appointed Academy Cadet Adjutant (ACA) who won the Gold Medal. GC YB Tun Hussain Bin Onn rose the position of Prime Minister of Malaysia, another Malaysian, Ibrahim Bin Ismail rose to the rank of General. Three Nepalese alumni namely Arjun Narsing Rana, Bharat Kesar Singh and Rishi Kumar Pandey rose to the rank of General in the Royal Nepalese Army.
      </p>

    </div>
    <div class="col-md-2">
      <h2 class="rht-hd">About Us</h2>
      <ul class="topic">
        <li><a href="#/pages/about">About us</a></li>
        <li><a href="#/pages/history">History</a></li>
        <li><a href="#/pages/organization">Organization</a></li>
        <li><a href="#/pages/entries">Entries</a></li>
        <li><a href="#/pages/GC-life">Life of a GC</a></li>
        <!-- <li>No contnt</li> -->
      </ul>
    </div>
  </div>
</div>