<div class="mat-new">
    <h4 class="card-heading"> TRG Battalion <span class="sub-menu1"> > Members</span> </h4>
</div>

<mat-card>

    <div class="d-flex btn-set">
        <div class="search">
            <input class="search_input" (input)="applyFilter($event)" placeholder="Search ..." #input>
        </div>
        <button mat-raised-button (click)="addMember()" class="add-btton">
            <mat-icon>add</mat-icon> Add
        </button>
    </div>

    <!-- <div class="gene-card-content pad-t-none">
        <div class="table-responsive">
            <table class="table table-hover table-middle th-fw-light mb-0">
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Image</th>
                        <th>Rank</th>
                        <th>Name</th> 
                        <th>Battalion</th>
                        <th>Company</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of trgBattalionMembers; let i = index">
                        <td>{{i+1}} </td>
                        <td><img [src]="m.image" (error)="noImg($event)"  width="50" height="50" class="img-fluid img-circle" alt="User Image"></td>
                        <td class="rank-name">{{m.rank}}</td>
                        <td class="rank-name">{{m.name}}</td>
                        <td> {{m.battalionType.name}} </td>
                        <td>{{m.battalionCompany.name}} </td>
                        <td class="act-btn">
                            <a href="javascript:void(0)" (click)="  viewMember(m)" >
                                <mat-icon>visibility</mat-icon>
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
    <div class="example-container ">
        <div class="example-table-container">
            <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef>S.No.</th>
                    <td mat-cell *matCellDef="let element;let i = index;">
                        {{i +1 + (myPaginator.pageIndex * myPaginator.pageSize)}} </td>
                </ng-container>

                <!-- Image Cell Column -->
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> Image </th>
                    <td mat-cell *matCellDef="let element"> <img [src]="IP+element.image" (error)="noImg($event)"
                            width="50" height="50" class="img-fluid img-circle" alt="User Image"> </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date|date:'d MMMM, y'}} </td>
                </ng-container>

                <!-- Rank Column -->
                <ng-container matColumnDef="rank">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
                    <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Post Column -->
                <ng-container matColumnDef="battalion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Battalion </th>
                    <td mat-cell *matCellDef="let element"> {{element?.battalionType|| '-'}} Bn</td>
                </ng-container>

                <!-- Post Column -->
                <ng-container matColumnDef="post">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Appt </th>
                    <td mat-cell *matCellDef="let element"> {{element.battalionPost }}  </td>
                </ng-container>

                <ng-container matColumnDef="companyName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                    <td mat-cell *matCellDef="let element">  {{element?.battalionCompany|| '-' }} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle [checked]="element.status == 1"
                            (change)="changeMemberStatus($event,element.id)">
                        </mat-slide-toggle>
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td class="act-btn" mat-cell *matCellDef="let element"> <a href="javascript:void(0)"
                            (click)="viewMember(element)">
                            <mat-icon>visibility</mat-icon>
                        </a> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" style="text-align: center;" colspan="10">No Record Found</td>
                </tr>
            </table>
        </div>

        <mat-paginator #myPaginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>