<div style="
    width: 100%;
    float: left;
    background: url(white.png);
    margin-bottom: 60px;
  ">
  <div class="container" style="padding: 15px !important;margin-top: 30px;">

    <div class="both_input" style="display: flex;">
      <h4 class="col-md-7 hed_ing">Forecast of TRG Events</h4>
      <div class="col-md-5">
        <div class="iner-pt" style="display: flex;">
          <div class="col-md-6 form-group">
            <select class="form-control" [(ngModel)]="selectedSeasonTerm" id="power" required>
              <option value="" selected hidden disabled>Select Season Term</option>
              <option *ngFor="let pow of seasons" [value]="pow">{{pow}}</option>
            </select>
          </div>
          <div class="col-md-4 form-group" style="padding-left: 0px;">
            <select class="form-control" [(ngModel)]="selectedYear" id="power" required>
              <option value="0" disabled selected>Select Year</option>
              <option *ngFor="let pow of year" [value]="pow">{{pow}}</option>
            </select>
          </div>

          <button class="col-md-2" mat-raised-button style="height: 35px;" (click)="onSubmit()" type="submit">
            Submit
          </button>
        </div>
      </div>





    </div>
    <mat-card class="mat-pad-none gene-calender">
      <!-- <ng-template ngbModalContainer></ng-template> -->

      <ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">Forecast of TRG Events</h5>
          <button color="primary" class="close" (click)="close()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="modal-body">
          <div style="font-weight:bold">
            Uploaded Document:
            <pre> <a class="act-btn" href="javascript:void(0)" (click)="openDoc(modalData.event)" (click)="close()"><mat-icon>description</mat-icon> </a></pre>
          </div>
        

          <!-- <div>
            <img (error)="noImg($event)" [src]="modalData.event.locationImage" class="img_class">
          </div>
          <div>
            Week:
            <pre>{{ modalData?.event.Week | json }}</pre>
          </div>
          <div>
            Season Term:
            <pre>
{{ modalData?.event.SessionTerm | json }}-{{modalData?.event.Year }}</pre>
          </div> -->

        </div>
        <!-- <mat-icon (click)="close()" class="modal-confirm-btn">done</mat-icon> -->
      </ng-template>

      <div class="text-center primary-bg overflow-hidden">
        <div class="cal-col">
          <div class="gene-btn-group">
            <mat-icon class="" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
              chevron_left
            </mat-icon>
            <mat-icon class="" mwlCalendarToday [(viewDate)]="viewDate">
              today
            </mat-icon>
            <mat-icon class="" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
              chevron_right
            </mat-icon>
          </div>
        </div>
        <div class="cal-col">
          <h3 class="gene-cal-head">
            {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
          </h3>
        </div>
        <div class="right-tab cal-col">
          <div class="gene-btn-group">
            <mat-icon class="" (click)="view = 'month'" [class.active]="view === 'month'">
              view_comfy
            </mat-icon>
            <mat-icon class="" (click)="view = 'week'" [class.active]="view === 'week'">
              view_week
            </mat-icon>
            <mat-icon class="" (click)="view = 'day'" [class.active]="view === 'day'">
              view_day
            </mat-icon>
          </div>
        </div>
      </div>
      <br />
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="'month'" weekStartsOn="1" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="'week'" weekStartsOn="1" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'" weekStartsOn="1" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>
    </mat-card>
  </div>

</div>

<!-- <div class="foot">
  <footer class="footer pp-fot" id="foot-id">
    <p class="footer-copy">© Copyright 2021 Indian Mililtary Academy All rights reserved.</p>
  </footer>
</div> -->