<div  class="row" style="padding: 20px;">
    Do you really want to delete ?
</div>
<button mat-raised-button  class="add-btton" (click)="delete()"> Delete </button>
<button mat-raised-button  class="add-btton" (click)="cancel()"> Cancel </button>
<!-- <div class="row">
    <div class="col-12">
  Do you really want to delete ?
    </div>
   <div class="col-6">
    <button mat-raised-button  class="add-btton"> Delete </button>
   </div>
   <div class="col-6">
    <button mat-raised-button  class="add-btton"> Cancel </button>
   </div>
</div> -->
