body .mat-icon-button, body .mat-mini-fab {
    height: 1.125rem !important;
    width: 1.125rem !important;
}
.detail-head{
    padding-left: 0px;
}
.cadet-detail{
    min-height: 35px;
    padding-top: 5px;
}
.mat-new-internal{
    padding: 0 0 0 0 !important;
}