<div class="mat-new">
    <h4 class="card-heading">PT <span class="sub-menu1"> > {{term}} > PPT </span> 
    <div class="pull-right" *ngIf="finalSubmissionDate"> Last Date for Marks Submission : {{finalSubmissionDate | date:'dd MMM yyyy'}} </div>
    </h4>

</div>

<mat-card>
    <!-- <form class="ng-untouched ng-pristine ng-invalid"> -->
        <div class="row">

            <div class="form-group col-md-4">
                <label for="battalion">Battalion</label>
                <select id="battalion" (change)="battalionSelected($event.target.value)" class="form-control"
                  [(ngModel)]="battalionId"  >
                    <option value="" selected hidden disabled>Select</option>
                    <option *ngFor="let b of battalionList" [value]="b.id"> {{b.shortName}} Bn</option>
                </select>

            </div>

            <div class="form-group col-md-4">
                <label for="company">Company</label>
                <select id="company" class="form-control" (change)="companySelected($event.target.value)"
                [(ngModel)]="companyId" >
                    <option value="" selected hidden disabled>Select</option>
                    <option *ngFor="let c of companyList" [value]="c.id"> {{c?.name || ''}}</option>
                </select>

            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="rank">Search</label>
                    <input placeholder="IMA Number/Service Id" formcontrolname="" type="text" [(ngModel)]="serviceId"
                        class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
            </div>

            <!-- <div class="col-md-3">
                <div class="form-group">
                    <label for="rank">Attempt Type</label>
                    <select id="company" class="form-control">
                        <option *ngFor="let att of attemtTypes" [value]="at"> {{att}}</option>
                    </select>
                </div>
            </div> -->



        </div>
       
         <div style="float: right;">
            <button  mat-raised-button (click)="search()" >Submit</button>
            <button  mat-raised-button (click)="clearSearch()" >Clear</button>
        </div>
    <!-- </form> -->

</mat-card>
<mat-card class="ppt-table" #tableCard >


    <mat-card-content>

        <div class="text-center" *ngIf="!cadetList.length && showSpinner">
            <div class="spinner-border " role="status"    >
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="text-center" *ngIf="!cadetList.length && !showSpinner" >
            <h5> {{statusMsg}}</h5> 
        </div>
      
    
        <table class="tg" *ngIf="cadetList.length" >
            <thead class="table-head" id="table-header">
                <tr>
                    <th class="tg-qnnc" rowspan="2">S. No.</th>
                    <th class="tg-qnnc" rowspan="2">IMA No.</th>
                    <th class="tg-qnnc" rowspan="2">Rank</th>
                    <th class="tg-qnnc t-name" rowspan="2">Name</th>
                    <th class="tg-qnnc" rowspan="2">Course</th>
    
    
                    <th class="tg-qnnc" colspan="3">2.4KM (MM-{{_2400m_mm}}) </th>
                    <th class="tg-qnnc" colspan="3">C/UP (MM-{{cup_mm}})</th>
                    <th class="tg-qnnc" colspan="3">TOE TOUCH (MM-{{toeTouch_mm}})</th>
                    <th class="tg-qnnc" colspan="3">5/MTR (MM-{{_5mtr_mm}})</th>
                    <th class="tg-qnnc" colspan="3">100 MTR (MM-{{_100mtr_mm}})</th>
                    <th class="tg-qnnc" colspan="3">SIT/UP (MM-{{sitUp_mm}})</th>
                    <th *ngIf="termId==3" class="tg-qnnc" colspan="3"> 2<sup>nd</sup> CL Rope (4 Mtr Climb) (MM-{{_4mtrClimg_mm}})</th>
    
                    <th class="tg-qnnc" rowspan="2">Total (MM-{{totalMM}})</th>
    
                </tr>
    
                <tr>
                    <th>Attempt Type</th>
                    <th>Obtained Marks</th>
                    <th>Grade</th>
    
                    <th>Attempt Type</th>
                    <th>Obtained Marks</th>
                    <th>Grade</th>
    
                    <th>Attempt Type</th>
                    <th>Obtained Marks</th>
                    <th>Grade</th>
    
                    <th>Attempt Type</th>
                    <th>Obtained Marks</th>
                    <th>Grade</th>
    
                    <th>Attempt Type</th>
                    <th>Obtained Marks</th>
                    <th>Grade</th>
    
                    <th>Attempt Type</th>
                    <th>Obtained Marks</th>
                    <th>Grade</th>
    
                    <th *ngIf="termId==3">Attempt Type</th>
                    <th *ngIf="termId==3">Obtained Marks</th>
                    <th *ngIf="termId==3">Grade</th>
    
                </tr>
    
            </thead>
    
            <tbody *ngIf="cadetList.length">
                <tr *ngFor="let cadet of cadetList;let i=index">
                    <td> {{i+1}} </td>
                    <td> {{cadet.serviceId}} </td>
                    <td>
                        <span *ngIf="cadet.nationality == 'India'">GC</span>
                        <span *ngIf="cadet.nationality != 'India'">FGC</span>
                    </td >
                    <td class="t-name"> {{cadet.name}} </td>
                    <td> {{cadet.course}} </td>
    
                    <ng-container *ngFor="let sub of cadet.edossierPtResult.edossierPtSubjectResult;let j=index">
                        <td>
                            <span *ngIf="!hasAccess" > {{sub.lastAttemptType}} </span>
                            <select *ngIf="hasAccess" id="company" class="form-control" [(ngModel)]="sub.lastAttemptType">
                                <option value="" selected hidden disabled>--</option>
                                <!-- <option *ngFor="let att of attemtTypes" [value]="att"> {{att}}</option> -->
                                <option value="M1">M1</option>
                                <!-- <option [disabled]="!sub.m1ObtainedMarks" value="M2">M2</option>
                                <option [disabled]="!sub.m2ObtainedMarks" value="C1">C1</option>
                                <option [disabled]="!sub.c1ObtainedMarks" value="C2">C2</option> -->
                                <option  value="M2">M2</option>
                                <option  value="C1">C1</option>
                                <option  value="C2">C2</option>
                            </select>
                        </td>
                        <td>
                            <span *ngIf="sub.lastAttemptType == 'M1' && !hasAccess " > {{sub.m1ObtainedMarks}} </span>
                            <span *ngIf="sub.lastAttemptType == 'M2' && !hasAccess " > {{sub.m2ObtainedMarks}} </span>
                            <span *ngIf="sub.lastAttemptType == 'C1' && !hasAccess " > {{sub.c1ObtainedMarks}} </span>
                            <span *ngIf="sub.lastAttemptType == 'C2' && !hasAccess " > {{sub.c2ObtainedMarks}} </span>

                            <input *ngIf="sub.lastAttemptType == 'M1' && hasAccess " (keypress)="onlyNum($event)"
                                (focusout)="patchNumbers($event,sub,i,j,'M1')" maxlength="2" name="" id=""
                                class="form-control" [(ngModel)]="sub.m1ObtainedMarks">
                            <input *ngIf="sub.lastAttemptType == 'M2' && hasAccess" (keypress)="onlyNum($event)"
                                (focusout)="patchNumbers($event,sub,i,j,'M2')" maxlength="2" name="" id=""
                                class="form-control" [(ngModel)]="sub.m2ObtainedMarks">
                            <input *ngIf="sub.lastAttemptType == 'C1' && hasAccess" (keypress)="onlyNum($event)"
                                (focusout)="patchNumbers($event,sub,i,j,'C1')" maxlength="2" name="" id=""
                                class="form-control" [(ngModel)]="sub.c1ObtainedMarks">
                            <input *ngIf="sub.lastAttemptType == 'C2' && hasAccess" (keypress)="onlyNum($event)"
                                (focusout)="patchNumbers($event,sub,i,j,'C2')" maxlength="2" name="" id=""
                                class="form-control" [(ngModel)]="sub.c2ObtainedMarks">
                        </td>
                        <td>
                            <span *ngIf="sub.resultGrade">
                                {{sub.resultGrade}}
                            </span>
                        </td>
    
                    </ng-container>
    
                    <td>
                        <span *ngIf="cadet.edossierPtResult.ptTotalMarks">
                            {{cadet.edossierPtResult.ptTotalMarks}}
                        </span>
                    </td>
    
                </tr>
            </tbody>
        </table>
    </mat-card-content>
    <!-- <div class="">
        <mat-paginator #myPaginator [length]="resultsLength" [pageSizeOptions]="[25]" showFirstLastButtons>
        </mat-paginator>
    </div> -->

    <div class="mb-4 pull-right" *ngIf="hasAccess" >
        <button mat-raised-button (click)="submitResult()" [disabled]="!cadetList.length" >
            Submit
        </button>
    </div>
    
</mat-card>
<!-- 
<div class="mb-5 submit-btn" style="float: right;" >
    <button mat-raised-button (click)="submitResult()" [disabled]="!cadetList.length" >
        Submit
    </button>
</div> -->


