.mat-panel11 h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}
.mat-panel11 mat-expansion-panel {
    margin-bottom: 11px;
    background: #eee;
}
.mat-panel11 .mat-expansion-panel .mat-expansion-panel {
    background: #fff!important;
}