<div>
    <div class="mat-new">
        <h4 class="card-heading" *ngIf="mnc=='add'"> Add Leadership Development Matrix <span class="sub-menu1"> </span>
        </h4>
        <h4 class="card-heading" *ngIf="mnc=='update'">Edit Leadership Development Matrix <span class="sub-menu1">
            </span>
        </h4>

    </div>
    <mat-card>
        <form [formGroup]="LDMatrixForm">
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="form-label">IMA No. </label>
                    <input type="text" formControlName="serviceId" disabled maxlength="100" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label">Rank </label>
                    <input type="text" formControlName="cadetRank" disabled maxlength="100" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label">Name </label>
                    <input type="text" formControlName="username" disabled maxlength="100" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label">Term </label>
                    <input type="text" formControlName="term" disabled maxlength="100" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="form-label">Batallion </label>
                    <input type="text" formControlName="battalian" disabled maxlength="100" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label">CoY </label>
                    <input type="text" formControlName="company" disabled maxlength="100" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label">Course </label>
                    <input type="text" formControlName="course" disabled maxlength="100" class="form-control">
                </div>
            </div>
            <br>
            <div class="row234 new-cls" *ngIf="isShown">
                <div>
                    <div class="example-container">
                        <div class="example-table-container" class="col-md-12">
                            <div formArrayName="leadershipSubjectResult" class="tab-newcls">
                                <table *ngIf="isShown" style="margin-left: 0px;
                            width: 100%;">
                                    <thead>
                                        <tr>
                                            <td>S.no</td>
                                            <td>Subject</td>
                                            <td>Total Marks</td>
                                            <td>Obtained Marks</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let mr of fetchLDMatrixSubjectsResult.controls; let i=index">
                                            <ng-container [formGroupName]="i">
                                                <td> {{i+1}}. </td>
                                                <td> {{mr.value.subjectName}} </td>
                                                <td> {{mr.value.totalMarks}} </td>
                                                <td>
                                                    <input min="0"
                                                        oninput="this.value = 
                                                !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                                        formControlName="obtainedMarks" class="form-control"
                                                        (focus)="onFocusEvent($event.target.value)"
                                                        on-focusout="onChange($event.target.value, mr.value.totalMarks, i)"
                                                        maxlength="2" (keypress)="keyPress($event)">
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td>Total</td>
                                            <td>{{getTotal()}}</td>
                                            <td>{{obtainedTotalMarks}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group col-md-12 remarkdiv">
                    <label class="form-label">Remarks </label>
                    <textarea matInput placeholder="" formControlName="remarks" class="form-control remarkheight"
                        maxlength="1500"></textarea>
                    <div>

                    </div>
                </div>
            </div>
            <div *ngIf="actionType == 'update'" class="form-group col-md-2"
                style="float: right; margin: 9px 0; padding: 0;">
                <button mat-raised-button (click)="confirm()" style="float: right;">Confirm</button>
            </div>
            <div *ngIf="actionType == 'add'" class="form-group col-md-2 submitbutton"
                style="float: right; margin: 9px 0; padding: 0;">
                <button *ngIf="isShown" mat-raised-button (click)="submit()" style="float: right;">Submit</button>
            </div>
        </form>


    </mat-card>
</div>