.mat-card-title{
    height: 40px;
}
.mat-card-actions{
    height: 40px;
}

.topics-data{
    display: flex !important;
}

.card-body{
    padding: 0 1.25rem;
}
.act-btn:hover mat-icon {
    color: #c19953;
}