.slide-toggle {
    position: absolute;
    right: 22px;
    bottom: 220px;  
  } 
  .up_image {
    padding: 15px;
    background: #eee;
    border-radius: 7px;
    margin: 10px;
    box-shadow: 1px 1px 6px #777;
}
.up_image img {
  width: 60%;
  margin: 0px auto;
  display: table;
  float: none;
  height: 200px;
}
.realte {
  background: #eee;
  padding: 15px;
  color: #721a0c;
}