

<div class="mat-new">
    <h4 class="card-heading"> Home <span class="sub-menu1"> >  GC Activities & Performance</span> </h4>
  
  </div>
  
  <mat-card>
  
    <div class="d-flex btn-set">
      <button mat-raised-button (click)="addGc()" class="add-btton">
        <mat-icon>add</mat-icon> Add
      </button>
    </div>
  
    <div class="gene-card-content pad-t-none">
  
      <mat-grid-list cols="2" rowHeight="2:1" class="addon_images">
        <mat-grid-tile class="custome_img" *ngFor="let a of gcActivities" >
          <div class="up_image">
            <mat-slide-toggle class="slide-toggle" [checked]="a.status == 1" (change)="changeActivityStatus($event,a.id)" ></mat-slide-toggle>
          <img [src]="a.image" alt="" (click)="openImage($event,a)" >
        </div>
        </mat-grid-tile>
  
      </mat-grid-list>
  
    </div>
  
    <!-- <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
  
  </mat-card>