<div class="container-fluid" style="background-image: url('https://joinindianarmy.nic.in/writereaddata/Portal/Template_ScriptBanner/Banner_1_1_helicopter.jpg'); height: 180px;background-size: cover;float: left;
    width: 100%;">
  <div class="row" id="top-baner" style="display: flex;align-items: center;height: 100%;">
    <div class="col-md-12">
      <h1 class="cms">Organization</h1>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 30px;float: left;width: 100%;">

  <div class="row">
    <div class="col-md-10" id="con-r">
     
      <img style="text-align: center;margin-left: 167px;" width="800px" src="assets/img/org.jpg">
      
      <!-- <iframe src="assets/img  /org.pdf" style="width: 100%;height: 1000px;border: none;"></iframe> -->
    </div>
    <div class="col-md-2">
      <h2 class="rht-hd">About Us</h2>
      <ul class="topic">
        <li><a href="#/pages/about">About us</a></li>
        <li><a href="#/pages/history">History</a></li>
        <li><a href="#/pages/organization">Organization</a></li>
        <li><a href="#/pages/entries">Entries</a></li>
        <li><a href="#/pages/GC-life">Life of a OC</a></li>
        <!-- <li>No contnt</li> -->
      </ul>
    </div>
  </div>
</div>