input[type="text"] {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 3px;
  height: 31px;
}
div#top-bar {
  background: #4c5041;
  padding: 5px 15px;
  color: #fff;
}
div#top-bar h2 {
  font-size: 19px;
}
h4.card-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #bb9450;
  background: #e1e3de;
  padding: 10px 15px;
  border-radius: 3px;
  font-weight: 600;
}
.box-shadow {
  float: left;
  width: 100%;
  margin: 10px 0;
}
.mat-card {
  transition: all 0.4s ease 0s;
  color: #37474F;
font-family: "Nunito Sans", sans-serif;
  background-color: #ffffff;
margin-bottom: 20px !important;
width: 100%;
box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  background: #fff;
  padding: 20px;
}
.tg  {border-collapse:collapse;border-spacing:0;width: 100%;}
.tg td{border-color:#ccc;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
overflow:hidden;padding:10px 5px;word-break:normal;text-align: left;text-align: left;  }
.tg th{ text-align: left;   
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  background: #eee;
  font-weight: bold;
}
td.tg-0lax.bold {
  font-weight: bold;
}
.sports input[type="text"] {
  width: 100px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 3px;
  height: 31px;
}
h4.red-heading {
  font-size: 15px;
  color: #721a0c;
  font-weight: bold;
  margin-bottom: 20px;
}
table{
margin-bottom: 30px;
}
.sss{
display: block;
overflow-x: scroll;
width: 100%;
}
button.btn-color {
  background: #742923;
  color: #fff;
}
button.btn-color:hover, button.btn-color:focus {
  color: #fff;
}

.cdt-dtls{
  height: 40px !important;
  padding: 8px 0 0 10px;
}