<div class="main-content">
    <div class="container-fluid">
      <div class="mat-heading">
        <div id="top-bar" class="">
          <h2 class="backbtn"><button mat-icon-button (click)="goBack()">
            <mat-icon>chevron_left</mat-icon>
          </button>E-Dossier <span class="sub-menu1">
            > Interviews > BEGINNING OF TERM INTERVIEW</span></h2>
      </div>
      </div>
      <div class="interview-sheet">
        <div class="mat-card mat-focus-indicator">
          <!-- <div class="ng-star-inserted">
            <div class="mat-new">
              <h4 class="card-heading">BEGINNING OF TERM INTERVIEW</h4>
            </div>
          </div> -->
          <form class="ng-untouched ng-pristine ng-invalid">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label for="rank">IMA No.</label>
                  <input placeholder="No"  type="text" disabled id="bgcadetServiceId" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
              </div>  
              <div class="col-md-2">
                <div class="form-group">
                  <label for="rank">Rank</label>
                  <input placeholder="Rank"  type="text" disabled id="bgcadetRank" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="rank">Name</label>
                  <input placeholder="Name"  type="text" disabled id="bgcadetName" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="rank">Term</label>
                  <input placeholder="Term"  type="text" disabled id="bgtermName" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                    <label for="rank">Bn</label>
                    <input placeholder="Bn" formcontrolname="" disabled id="bgbattalionName" type="text" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
            </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="rank">Coy</label>
                  <input placeholder="Coy"  type="text" disabled id="bgcompanyName" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
              </div>
              <!-- <div class="col-md-2">
                <div class="form-group">
                  <label for="rank">Course</label>
                  <input placeholder="Course"  type="text" disabled id="bgcourseNo" class="form-control ng-untouched ng-pristine ng-invalid">
                </div>
              </div> -->
            </div>
          </form>
            <table class="tg">
            <thead>
              <tr>
                <th class="tg-t2cw"><span style="font-weight:700;font-style:normal;text-decoration:underline;color:#000;background-color:transparent">Date</span></th>
                <th class="tg-t2cw"><span style="font-weight:700;font-style:normal;text-decoration:underline;color:#000;background-color:transparent">Details</span></th>
                <th class="tg-t2cw" colspan="2"><span style="font-weight:700;font-style:normal;text-decoration:underline;color:#000;background-color:transparent">OC Initials with date</span></th>
              </tr>
            </thead>
            <tbody>
              <tr [formGroup]="interviewFormI">
                <td class="tg-0lax"><input type="date" max="{{maxDate}}" placeholder=""  formControlName="date" class="form-control ng-untouched ng-pristine ng-invalid mb-2"></td>
                <td class="tg-0lax">
                  <textarea  placeholder=""  (keypress)="$event.keyCode === 32 && !$event.target.value.length ? $event.preventDefault() : true" class="form-control ng-untouched ng-pristine ng-invalid" rows="3" maxlength="1500"
                  formControlName="details"></textarea><br><br><br><br>
                  <label>Capt/Maj <br>Pl Cdr</label>
                  <input type="text" placeholder="" formControlName="capt" (keypress)="$event.keyCode === 32 && !$event.target.value.length ? $event.preventDefault() : true" class="form-control ng-untouched ng-pristine ng-invalid mb-2">
                </td>
                <td class="tg-0lax"><input type="text" placeholder=""  formControlName="gcInitialsWithDate" disabled class="form-control ng-untouched ng-pristine ng-invalid mb-2"></td>
                <td class="tg-0lax text-center"><button class="btn btn-color mt-2" (click)="addClubsubmitI('PL_CDR')">Submit</button></td>
              </tr>
              <tr [formGroup]="interviewFormII">
                <td class="tg-0lax"><input type="date" max="{{maxDate}}" placeholder="" formControlName="date" class="form-control ng-untouched ng-pristine ng-invalid mb-2"></td>
                <td class="tg-0lax"><textarea  placeholder=""  maxlength="1500"
                  formControlName="details" (keypress)="$event.keyCode === 32 && !$event.target.value.length ? $event.preventDefault() : true" class="form-control ng-untouched ng-pristine ng-invalid" rows="3"></textarea><br><br><br><br>
                  <label>Maj/Lt Col <br>Coy Cdr</label>
                  <input type="text" placeholder="" formControlName="capt" (keypress)="$event.keyCode === 32 && !$event.target.value.length ? $event.preventDefault() : true" class="form-control ng-untouched ng-pristine ng-invalid mb-2">
                </td>
                <td class="tg-0lax"><input type="text" placeholder="" formControlName="gcInitialsWithDate" disabled class="form-control ng-untouched ng-pristine ng-invalid mb-2"></td>
                <td class="tg-0lax text-center"><button class="btn btn-color mt-2" (click)="addClubsubmitI('COY_CDR')">Submit</button></td>
              </tr>
              <tr [formGroup]="interviewFormIII">
                <td class="tg-0lax"><input type="date" max="{{maxDate}}" placeholder="" formControlName="date"  class="form-control ng-untouched ng-pristine ng-invalid mb-2"></td>
                <td class="tg-0lax"><textarea  placeholder="" maxlength="1500"
                  formControlName="details" (keypress)="$event.keyCode === 32 && !$event.target.value.length ? $event.preventDefault() : true" class="form-control ng-untouched ng-pristine ng-invalid" rows="3"></textarea><br><br><br><br>
                  <label>Col <br>Bn Cdr</label>
                  <input type="text" placeholder=""  formControlName="capt" (keypress)="$event.keyCode === 32 && !$event.target.value.length ? $event.preventDefault() : true" class="form-control ng-untouched ng-pristine ng-invalid mb-2">
                </td>
                <td class="tg-0lax"><input type="text" placeholder="" formControlName="gcInitialsWithDate" disabled class="form-control ng-untouched ng-pristine ng-invalid mb-2"></td>
                <td class="tg-0lax text-center"><button class="btn btn-color mt-2" (click)="addClubsubmitI('BN_CDR')">Submit</button></td>
              </tr>
            </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>