<div class="mat-new">
    <h4 class="card-heading"> <button mat-icon-button (click)="goBack()" ><mat-icon>chevron_left</mat-icon> </button> GSO-1 TRG <span class="sub-menu1"> > Schedule of Central-lec ></span> <span class="sub-menu1"> {{pTitle}}
        </span>
    </h4>
</div>
<mat-card>
    <div class="top-br">
      <form [formGroup]="addSopForm" >
        <div class="row">
          <div class="form-group col-md-6">
            <label class="form-label">Title <span class="char-count" > ({{titleLength}}/100) </span><span class="required">*</span></label>
            <input type="text" class="form-control" maxlength="100"  formControlName="title" id="designation" (input)="charCount($event,'title')" placeholder="Title (Maximum 100 Characters)">
            <span class="validation_msg" *ngIf="f.title.errors && f.title.errors.required && isError" >Title is required</span>        
          </div>
        </div>
  
        <div class="row">
          <div class="form-group col-md-12">
            <label class="form-label"> Description <span class="char-count" > ({{descLength}}/500) </span> <span class="required">*</span></label>
            <textarea class="form-control" maxlength="500" id="message" formControlName="description" (input)="charCount($event,'description')" placeholder="Description (Maximum 500 Characters)"></textarea>
            <span class="validation_msg" *ngIf="f.description.errors && f.description.errors.required && isError" >Description is required</span>
          </div>
        </div>
        
        <div class="form-group">
          <label class="form-label"> Document <span class="required">*</span></label>
          <input type="file"  #inputFile accept=".pdf,.doc,.docx" (change)="onSelectDoc($event)" id="image"> 
          <mat-icon *ngIf="docUrl" class="document_icon" (click)="openDoc()" >description</mat-icon>
          <span class="note">Max File Size 50 MB. (Only pdf and doc format.)</span>
          <span class="validation_msg" *ngIf="!isDoc" >Document is required</span>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label class="form-label"> Status <span class="required">*</span></label>
            <select class="form-control" formControlName="status" >
              <option value="" selected hidden disabled>Status</option>
              <option value="1">Active</option>
              <option value="0">Inactive</option>
            </select>
            <span class="validation_msg" *ngIf="f.status.errors && f.status.errors.required && isError" >Status is required</span>
          </div>
        </div>
     
    
        <button *ngIf="pTitle == 'Add Schedule'" mat-raised-button  (click)="addDocument()">Add</button>
        <button *ngIf="pTitle == 'View Schedule'" mat-raised-button  (click)="updateDocument()">Update</button>

      </form>
    </div>
  </mat-card>