.main_new {
    transform: rotate(
90deg
);
}
i.fa.fa-chevron-right.menu-cls {
    transition: 1s;
}
	div#center_section p {
    text-align: justify;
/*        font-weight: 500;
*/}

div#center_section h4 {
    color: #721a0c;
    font-weight: 800;
}
.de_img{
	box-shadow: 0px 1px 1pc #ccc;
    border: 2px solid #721a0c;
    border-radius: 20px;
    margin: 20px auto;
    display: table;
}
.diii  {
    color: #fff;
    font-weight: bold;
    line-height: 28px;
    font-size: 16px;
    background: #721a0c;
    border-radius: 4px;
}
.thead-dark{
	background-color: #bc9753 !important;
}
.table {
    border-bottom: 1px solid #dee2e6;}
thead.thead-dark th {
    background: transparent !important;
    border: 0px;
}
.table .thead-dark th {
    color: #fff !important;
    background-color: #343a40;
    border-color: #454d55;
}
#center_section{
	// background: url(../../../assets/img/white.png);
    padding: 10px 12px;
    border: 1px solid #eee;
    border-radius: 3px;
    float: left;
    width: 100%;
    margin-top: 12px;
}
.data_row input {
     border: 1px solid #ccc;
    padding-bottom: 4px;
    width: 200px;
    margin-bottom: 10px;
    height: 36px;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    border-bottom: 2px solid #ccc;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a {
    background: #fcf9f9;
    border: 1px solid #bc9753;
    margin: 0px 2px;
    padding: 4px 10px;
}
.row.aln_ls {
    justify-content: space-between;
}
ul{
	padding: 0px;
	margin: 0px;
}
div#md-btm {
    margin-bottom: 30px;
}
.acc-od .card-body {
    border: 1px solid #eee;
    padding: 12px 12px 12px 12px;
    box-shadow: 1px 1px 3px #ccc;
    float: left;
    width: 100%;
    overflow-y: scroll;
    height: 170px;
}
ul.task_list li {
	margin-top: 5px;
       margin-bottom: 5px !important;
    float: left;
    border-bottom: 1px solid #bc9753;
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    border-top: 1px solid #bc9753;
    border: 1px solid #bc9753;
}

ul.task_list li a {
    color: #333;
    text-decoration: none;
}
.dev {
    display: flex;
    justify-content: space-between;
    background: #721a0c;
    padding: 5px 15px;
    color: #fff;
    font-family: sans-serif !important;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.dats {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    line-height: 36px;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 6px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
button.dropbtn {
    border: 0;
    background: transparent;
}
span.txt-ii img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
.dropdown button:focus {
    outline: 0 !important;
}
.acc-od .card {
    margin-bottom: 17px;
}
a.card-link {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
div#md-btm {
    margin: 30px auto;
    background: rgba(45, 50, 31, .9);
    padding: 20px 0px;
    border-radius: 4px;
}
.acc-od .card-header{
	background: #721a0c;
}
.cccv{
	// background-image: url(../../../assets/img/bcck.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    width: 100%;
    background-attachment: fixed;
}
.cccv td {
    color: #fff !important;
}
.main_new {
    transform: rotate(
90deg
);
}
.jkl {
    float: right;
    color: #fff;
    position: relative;
    top: 5px;
}

.nav-tabs[_ngcontent-jus-c390] > li.active[_ngcontent-jus-c390] > a[_ngcontent-jus-c390], .nav-tabs[_ngcontent-jus-c390] > li.active[_ngcontent-jus-c390] > a[_ngcontent-jus-c390]:focus {
    cursor: default;
    color: #fff;
    background-color: #721a0c;
    border-style: none;
}




/**=====================*/

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .cart-item{
     .content-wrap{
        font-size: 0.85rem;
     }
  }
  h4.welcome {
      color: #fff;
      font-size: 18px;
      font-family:  'Roboto', sans-serif;
  }
  p, h1, h2, h3, h4, h5, h6, li, a, span, strong, ul, div, button, input {
     font-family:  'Roboto', sans-serif;
  }
  
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
     background-color: rgb(193 153 83);
  }
  
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
     background-color: #a9823d;
  }
  
  .bg_class {  
    //   background: url(../../assets/img/sidebar-5.jpg);
     background-color : rgb(62 66 49) !important;   
  }
  
  .mat-nav.back_imag.ng-tns-c233-0 {
     height: 100%;
     background: rgba(62, 66, 49, .8);
  }
  
  body {
     font-family:  'Roboto', sans-serif;
  }
  .sub-menu1{
     color: #721a0c;
  }
  .top-br {
     margin-top: 20px;
  }
   .add-btton {
     float: right;
     background: #4c5041 !important;
  }
  
  body .mat-card {
     padding: 0.875rem 0.875rem !important;
  }
  .inner-container.my-con {
     padding: 0.5rem !important;
  }
  .table th, .table td{
     font-size: 15px;
  }
  
  .add-btton mat-icon {
     font-size: 16px !important;
     width: 16px;
     height: 16px;
     line-height: 14px;
  }
  .mat-new {
     padding: 9.875rem 0.875rem 0 !important;
     clear: both;
  }
  .img-circle {
     width: 35px;
     height: 35px;
     border: 2px solid #ccc;
  }
  .table-responsive thead {
     background: #e1e3de;
  }
  .table thead th {
     padding: 5px 15px;
  }
  .table thead td {
     padding: 5px 15px;
  }
  .d-flex.btn-set {
     align-items: flex-end;
     justify-content: space-between;
     margin-bottom: 10px;
  }
  
  
  
  .mat-drawer-inner-container::-webkit-scrollbar {
     width: 10px;
    }
    
    /* Track */
    .mat-drawer-inner-container::-webkit-scrollbar-track {
     background: #888;
    }
    
    /* Handle */
    .mat-drawer-inner-container::-webkit-scrollbar-thumb {
     background: #ccc;
    }
    
    /* Handle on hover */
    .mat-drawer-inner-container::-webkit-scrollbar-thumb:hover {
     background: #c19953;
    }
  
    .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
     background-color: #721a0c !important;
     color: white;
  }
  .mat-step-header .mat-step-icon {
     background-color: rgb(192 148 80);
     color: white;
  }
  
  .capitals{
     text-transform: uppercase;
  }
  
  .rank-name{
     text-transform: capitalize;
  }
  
  // input.ng-invalid.ng-touched{
  //    border: 1px solid red;
  // }
  
  // select.ng-invalid.ng-touched{
  //    border: 1px solid red;
  // }
  
  // textarea.ng-invalid.ng-touched{
  //    border: 1px solid red;
  // }
  
  
  
  .under-construction-img{   
     opacity: .2; 
     margin: 60px auto 0; 
     display: table; 
     width: 55%;
  }
  
  
  .mat-panel11 h4 {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 0px;
  }
  .mat-panel11 mat-expansion-panel {
      margin-bottom: 11px;
      background: #eee;
  }
  
  .mat-panel11 .mat-expansion-panel .mat-expansion-panel {
      background: #fff!important;
  }
  
  .user-menu{
     width: 200px;
  }
  
  .acc-info{
     text-align: center;
     width: 150px;
  }
  .service-id{
     font-weight: 100;
  }
  
  label{
     margin-top: 0px;
  }





nav.navbar.navbar-expand-sm {
    width: 100%;
    justify-content: space-between;
}


a.nav-link {
    font-family:  'Roboto', sans-serif;
    margin: 0px 10px;
    font-size: 18px;
}
nav.navbar.navbar-expand-lg.navbar-light{
    width: 100%;
    justify-content: space-between !important;
    background: transparent;
}
div#navbarSupportedContent {
    flex-grow: unset;
}
li.nav-item.active a {
    color: #f8b4a0!important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #f8b4a0!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #333 ;
}
span.count {
    position: absolute;
    top: 0;
    right: 2%;
    background: #f8b4a0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50px;
    text-align: center;
}
div#baner {
    // background: url(../../../assets/img/11.png);
    background-repeat: no-repeat;
    background-position: center;
}
div#baner2 {
    // background: url(../../../assets/img/1.jpg);
    background-repeat: no-repeat;
    background-position: top;
}
.iner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0px 0;
        flex-wrap: wrap;
}

.iner h4 {
    text-transform: capitalize;
    font-size: 43px;
    font-weight: 400;
    margin-bottom: 0px;
    font-family:  'Roboto', sans-serif;
}
.iner h1 {
    font-size: 75px;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #ccc;
    font-weight: bold;
    font-family:  'Roboto', sans-serif;
}
#bg-flower p {
    font-family:  'Roboto', sans-serif;
    font-weight: 100 !important;
}
p {
    font-family:  'Roboto', sans-serif;}
.iner h1 span {
    color: #c78b78;
}
button.shop {
    border: 1px solid #333;
    padding: 10px 25px;
    border-radius: 40px;
    background: #333;
    color: #fff;
    text-transform: capitalize;
    width: 165px;
    margin-top: 25px;
}
.iner .n-logo {
    margin-bottom: 25px;
}
.iner2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div#bg-flower {
    // background: url(../../../assets/img/3.jpg);
    background-repeat: no-repeat;
    margin-top: 100px;
    padding: 25px;
    background-size: cover;
    background-position: top;
}
#bg-flower h4 {
        font-weight: bold !important;
    font-family:  'Roboto', sans-serif;
    font-size: 30px;
}
#for-color {
    background: #eaeaea;
    padding: 100px 0px 200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.featured.container-fluid {
    padding: 0;
}
.featured.container-fluid .row {
    width: 100%;
}
.featured h1 {
    width: 100%;
    text-align: center;
    font-family:  'Roboto', sans-serif;
    font-size: 50px;
}
.featured p {
    width: 100%;
    text-align: center;
}
.p-price h4 {
    font-family:  'Roboto', sans-serif;
    font-size: 18px;
}
.p-price img {
    width: calc(100% - 50%);
    float: right;
    padding-top: 8px;
}
.p-price span {
    font-family:  'Roboto', sans-serif;
    font-size: 17px;
}
.f-price  {
    font-family:  'Roboto', sans-serif;
    font-size: 17px;
}
span.f-price {
        font-size: 29px;
    color: #eebc67;
    font-weight: bold;
    line-height: 20px;
}
img.yn {
    position: absolute;
    margin: 15px;
}
.card.p-3.bg-white {
    background: #fff;
    padding: 0!important;
    border: 18px solid #fff;
    box-shadow: 1px 1px 4px 2px #eee;
    border-radius: 0px;
}
div#top-row {
    margin-top: -115px;
}
.featured.container-fluid.trans {
    margin: 100px 0px;
}
h1.im-heading {
    position: absolute;
    z-index: 99;
    bottom: 0;
    color: #fff;
    text-shadow: 2px 2px 2px #585656;
    font-size: 45px;
}
.col-md-12.haf-class {
    margin-bottom: 25px;
}
h1.im-headings {
     position: absolute;
    z-index: 99;
    bottom: 13%;
    color: #fff;
    text-shadow: 2px 2px 2px #585656;
    font-size: 45px;
}
.featured.container-fluid.trans .container {
    margin: 70px auto 0;
}
.container.bg-blo {
    background: #eee;
    float: left;
        padding: 0;
}
.col-md-6.hight {
      display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 40;
    padding: 10% 0 0% 10%;
    /* flex-grow: 1; */
    flex-flow: column;
}
.featured p {
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.col-md-6.hight h1 {
    text-align: left !important;
}
button.btn {
    background: #f1d3cd;
}
input.form-control {
    border: 0;
}
.content {
    width: 100%;
}
.featured.container-fluid.full {
    background: #282832;
    display: flex;
    padding: 50px 0px;
}
ul.footer {
    padding: 0;
    margin-top: 40px;
}
ul.footer li {
    display: inline;
    margin: 0 13px 0 6px !important;
    color: #fff;
}
p.copyright {
    color: #fff;
    font-size: 11px;
    text-align: left;
}
p.social {
    color: #fff;
    text-align: right;
}
ul.social {
    padding: 0;
}
ul.social li {
    color: #fff;
    display: inline;
    margin: 10px 15px;
}
ul.social li:nth-child(1) {
    margin-left: 0px;
}
.time span {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 2px;
}
.info {
    margin-left: 2px;
}
@media (min-width: 993px) and (max-width: 1199px){
   .header-nav .nav>li>a{font-size: 14px !important;padding: 20px 10px !important; }
   .col-md-4.img img{height: auto!important;}
   .logo-header a {font-size: 25px!important;}
}
@media (max-width: 992px){
    .logo-header a {
    font-size: 20px !important;
    text-align: center;
    width: 100%;
}
ul.nav{display: none;}
.logo-header.hidden-xs-clas {
    display: none;
}
.logo-header.d-md-block.d-lg-none{float: left;width: 90%;}
.toggle.hidden-lg-clas {float: right;}
}

@media (max-width: 992px){
    .need{width: 100%;}
    div#bg-flower {
    margin-top: 0px;
}
.toggle.hidden-lg-clas {
    display: block !important;
}
ul.nav {
    position: absolute;
    background: rgba(0,0,0,.8);
    width: 100%;
    top: 23%;
    left: 0%;
    z-index: 99;
}
ul.nav li {
    display: block !important;
    width: 100%;
}

div#navbarNavDropdown {
    padding: 10px 0px;
}
h4.tab-title.para {
    font-size: 14px !important;
}
.container, .container-md, .container-sm {
    max-width: 100% !important;
}
.dlab-bnr-inr.overlay-black-middle.bg-pt.course-banner {
    background: transparent !important;
}
}
@media (max-width: 767px){
    img.mySlides{  height: 175px !important;
     }
    .header-nav .nav>li>a {
    padding: 4px !important;
    font-size: 12px;
}
    h4.title {
    font-size: 11px !important;
    margin-left: 5px !important;
}
    .col-md-4.img img {
    height: auto !important;
    margin-bottom: 15px;
}
    h4.tab-title {
    margin-top: 20px;
}
    .main-row{margin-top: 30px !important;}
    .row1.new1 {
    margin-top: 15px;
}
    .logo-header a {
    font-size: 12px !important;}
}
.service-list ul li {
    display: inline-block;
    position: relative;
    margin-left: 0px;
    padding: 0px;
}
.service-list ul {
    padding-left: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
        align-items: center;
}
.logo-header a {
    text-align: center;
    color: #721a0c;
    font-weight: bold;
    font-size: 40px;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.site-button, .site-button-secondry {
       color: #721a0c;
    padding: 12px 15px;
    display: inline-block;
    font-size: 13px;
    outline: 0;
    cursor: pointer;
    outline: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #721a0c;
    line-height: 1.42857;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: transparent;
        float: right;
}
.site-button span{color: #721a0c !important;}
.header-nav .nav>li>a {
    border-radius: 0;
    color: #fff;
    font-size: 15px;
    padding: 12px;
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
    position: relative;
    border-width: 0 0 0 1px;
    text-transform: capitalize;
    text-decoration: none;
}
.header-nav .nav>li .sub-menu {
    background-color: rgba(46, 51, 19, .7);
    display: block;
    list-style: none;
    opacity: 0;
    padding: 5px 0;
    visibility: hidden;
    position: absolute;
    width: 220px;
    z-index: 99999;
}
.header-nav .nav>li:hover>.mega-menu, .header-nav .nav>li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}
.header-nav .nav > li .sub-menu ul.sub-menu0 {
    background-color: rgba(46, 51, 19, 0.7);
    display: block;
    list-style: none;
    opacity: 0;
    padding: 5px 0;
    visibility: hidden;
    position: absolute;
    width: 220px;
    z-index: 99999;
    left: 220px;
    top: 20px;
}
.header-nav .nav > li .sub-menu li ul.sub-menu0 li ul.sub-menu1{
    background-color: rgba(46, 51, 19, 0.7);
    display: block;
    list-style: none;
    opacity: 0;
    padding: 5px 0;
    visibility: hidden;
    position: absolute;
    width: 220px;
    z-index: 99999;
    left: 220px;
    top: 20px;
}
.header-nav .nav > li .sub-menu ul.sub-menu0 li ul.sub-menu1 li ul.sub-menu2{
    background-color: rgba(46, 51, 19, 0.7);
    display: block;
    list-style: none;
    opacity: 0;
    padding: 5px 0;
    visibility: hidden;
    position: absolute;
    width: 220px;
    z-index: 99999;
    left: 220px;
    top: 20px;
}
.header-nav .nav > li .sub-menu li a i.fa.fa-chevron-down {
    float: right;
    margin-top: 5px;
}
.header-nav .nav > li .sub-menu li:hover i {
    transform: rotate(268deg);
    padding-left: 2px;
}
.header-nav .nav > li .sub-menu li .sub-menu0 li:hover i {
    transform: rotate(268deg);
    padding-left: 2px;
}
.header-nav .nav > li .sub-menu li .sub-menu0 li .sub-menu1 li:hover i {
    transform: rotate(268deg);
    padding-left: 2px;
}
.header-nav .nav > li .sub-menu li:hover .sub-menu0 {
    visibility: visible;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}
.header-nav .nav > li .sub-menu li:hover .sub-menu0 li:hover .sub-menu1{
    visibility: visible;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}
.header-nav .nav > li .sub-menu li:hover .sub-menu0 li:hover .sub-menu1 li:hover .sub-menu2{
    visibility: visible;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}
.header-nav .nav>li .sub-menu li {
    border-bottom: 0 solid #f4f4f4;
    position: relative;

}
a.site-button:hover {
    color: #fff;
}

.header-nav .nav>li .mega-menu>li ul a:hover, .header-nav .nav>li .sub-menu li:hover>a {
    background-color: #bc9753;
    text-decoration: none;
}
.header-nav .nav>li .sub-menu li a {
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 10px 25px;
    text-transform: capitalize;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    font-weight: 400;
}
/*ul.nav li:nth-child(1) a {
    padding-left: 0px !important;
}*/
ul.nav li:nth-child(8) a {
    padding-right: 0px !important;
}
.service-list ul {
    padding-left: 0px;
}
ul.submenu li:nth-child(1) a {
    padding-left: 25px !important;
}
div#navbarNavDropdown {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #bc9753;
        float: left;
    width: 100%;
}
.dlab-bnr-inr.bg-pt {
    background-position: top;
    background-size: cover;
        float: left;
    width: 100%;
}

.course-banner {
    height: 550px;
    text-align: center;
}
ul.lefty-ro2 {
    background: #fff;
    margin: 0px 0px;
    text-align: left;
    padding: 10px 10px;
    overflow-y: scroll;
    height: 471px;
    background: rgba(46, 51, 19, .7);
}
ul.lefty-ro2 li {
    margin: 8px 0px;
    list-style-type: none;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    color: #fff;
}
.lefty-ro2::-webkit-scrollbar {
  width: 3px;
}
 
.lefty-ro2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.lefty-ro2::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
    .event-list {
        list-style: none;
        font-family: 'Lato', sans-serif;
        margin: 0px;
        padding: 0px;
            width: 100%;
    box-sizing: border-box;
    }
    .event-list > li {
        background-color: rgba(188, 151, 82, .7);
        box-shadow: 0px 0px 5px rgb(51, 51, 51);
        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
        padding: 0px;
        margin: 0px 0px 12px;
    }
    .event-list > li > time {
        display: inline-block;
        width: 100%;
        color: rgb(255, 255, 255);
        background-color: rgb(114 26 12);
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
    }
    .event-list > li:nth-child(even) > time {
        background-color: rgb(85 93 75);
    }
    .event-list > li > time > span {
        display: none;
    }
    .event-list > li > time > .day {
        display: block;
        font-size: 13pt;
        font-weight: 100;
        line-height: 1;
    }
    .event-list > li time > .month {
        display: block;
        font-size: 7pt;
        font-weight: 900;
        line-height: 1;
        margin-top: 3px;
    }
    .event-list > li > img {
        width: 100%;
    }
    .event-list > li > .info {
        padding-top: 5px;
        text-align: center;
    }
    .event-list > li > .info > .title {
       font-size: 11pt;
    font-weight: 500;
    margin: 5px 0;
    }
    .event-list > li > .info > .desc {
        font-size: 13pt;
        font-weight: 300;
        margin: 0px;
    }
    .event-list > li > .info > ul,
    .event-list > li > .social > ul {
        display: table;
        list-style: none;
        margin: 10px 0px 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
    }
    .event-list > li > .social > ul {
        margin: 0px;
    }
    .event-list > li > .info > ul > li,
    .event-list > li > .social > ul > li {
        display: table-cell;
        cursor: pointer;
        color: rgb(30, 30, 30);
        font-size: 11pt;
        font-weight: 300;
        padding: 3px 0px;
    }
    .event-list > li > .info > ul > li > a {
        display: block;
        width: 100%;
        color: rgb(30, 30, 30);
        text-decoration: none;
    } 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
    } 
    .event-list > li > .info > ul > li:hover,
    .event-list > li > .social > ul > li:hover {
        color: rgb(30, 30, 30);
        background-color: rgb(200, 200, 200);
    }


    @media (min-width: 768px) {
        .event-list > li {
            position: relative;
            display: block;
            width: 100%;
            padding: 0px;
        }
        .event-list > li > time,
        .event-list > li > img  {
            display: inline-block;
        }
        .event-list > li > time,
        .event-list > li > img {
               width: 45px;
                float: left;
                min-height: 100%;
                height: 44px;
                padding: 4px !important;
        }
        .event-list > li > .info {
            overflow: hidden;
        }
        .event-list > li > time,
        .event-list > li > img {
            padding: 0px;
            margin: 0px;
        }
        .event-list > li > .info {
            position: relative;
            text-align: left;
        }   
        .event-list > li > .info > .title, 
        .event-list > li > .info > .desc {
            padding: 0px 10px;
        }
        .event-list > li > .info > ul {
            position: absolute;
            left: 0px;
            bottom: 0px;
        }
        .event-list > li > .social {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            width: 40px;
        }
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
        .event-list > li > .social > ul > li {          
            display: block;
            padding: 0px;
        }
        .event-list > li > .social > ul > li > a {
            display: block;
            width: 40px;
            padding: 10px 0px 9px;
        }
    }
    .dlab-bnr-inr .container {
    padding: 20px 15px 20px;
}
h2.title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    text-align: left;
    margin: 0 0 0 0;
    color: #fff;
}
p.desc {
    font-family: sans-serif;
    font-size: 13px !important;
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.time {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    font-size: 11px;
}
.time {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: #ccc;
}
.event-list > li {
    position: relative;
    display: block;
    width: 100%;
    padding: 0px;
    float: left;
    border-top: 3px solid #4b5320;
        border-top: 3px solid #4b5320;
    box-shadow: 1px 1px 2px #777;
    border-radius: 3px;
    cursor: pointer;
}
h4.tab-title.para {
    background: #721a0c;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.left {
    float: left;
    width: 16%;
}
.right {
    float: left;
    width: 84%;
    padding: 5px 10px;
}
.left img {
    width: 40px;
    height: 43px;
}
.new1::-webkit-scrollbar {
  width: 1px;
}
 
.new1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 

 
.new1::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.new1{
        overflow-y: scroll;
    height: 234px;
}
h4.title {
    text-transform: capitalize;
    font-size: 15px;
    margin: 0 0 0 15px;
    color: #721a0c;
    font-weight: bold;
}
.service-list span {
    color: #777;
    font-size: 13px;
    text-transform: capitalize;
}
i.fa.fa-chevron-down {
    padding-left: 6px;
}
.w3-content.w3-section {
    margin: 0 !important;
        border: 3px solid #CCC;
    box-shadow: 1px 1px 2px 2px #ccc;
}
.toggle.hidden-lg-clas {
    cursor: pointer;
    color: #fff;
    font-size: 20px;
   display: none;
   z-index: 999999;
   position: relative;
}

.blink {
  animation: blink 3s linear infinite;
}

@keyframes blink {
  50% {
    opacity: .2;
  }
}
.main-row {
    float: left;
    width: 100%;
    margin: 95px 0px 45px;
}
h4.tab-title {
    font-size: 16px;
    text-align: left;
    color: #721a0c;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.col-md-4.img img {
    border: 3px solid #721a0c;
    border-radius: 4px;
    width: 100%;
    height: 225px;
}
.col-md-8.contents p {
    text-align: justify;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: .4px;
    text-transform: capitalize;
}
p.nor-text-b {
    margin-bottom: 0px;
    line-height: 25px;
}
.demo-11 {

    display: flex;
    align-items: center;
}

.service-list ul li:nth-child(2){width: 60%;}
.logo-header a:hover {
    text-decoration: none;
    color: #721a0c;
}
.events-list ul {
    padding: 0px;
}
 .events-list li {
    list-style-type: none;
        margin-bottom: 12px;
       background: rgba(188, 151, 82, .7);
    padding: 3px;
    width: 100%;
    cursor: pointer;
}
.space {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 40px;
    background: #721a0c;
}
p.dates {
    float: left;
    width: 20%;
    font-size: 16px;
    line-height: 18px;
    font-family: sans-serif;
    text-align: center;
    color: #4b5320;
    font-weight: bold;
}
p.tole {
  float: left;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 65%;
    overflow: hidden;
    text-align: left;
    color: #fff;
}
.events-list i.fa.fa-chevron-right {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}
b.time {
    color: #721a0c;
    font-weight: 300;
}
.events-list {
       overflow-y: scroll;
    height: 225px;
    position: relative;
    border: 2px solid #eee;
    padding: 15px 5px 15px 15px;
    box-shadow: 1px 1px 2px 2px #ccc;
}
.events-list::-webkit-scrollbar {
  width: 3px;
}
 
.events-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.events-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.holder { 
  background-color: rgba(90, 94, 76, .4);
  width:100%;
  height:225px;
  overflow:hidden;
  padding:10px;
  font-family:Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:100%;
  height:240px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
footer {
    float: left;
    width: 100%;
    background: #2d321f;
    text-align: center;
    color: #fff;
    
    position: relative;
    bottom: 0;
}

footer p {
    margin-bottom: 0px;
    padding: 8px 0;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: .4px;
}
.nav{
    justify-content: space-between;
}


.service-list {
    float: left;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.ima1 {
    float: left;
    width: 15%;
}
.ima3 {
    float: right;
    width: 15%;
}
.ima2-logo {
    width: 70%;
    margin: 0 auto;
    display: table;
    float: left;
    text-align: center;
}
footer{
    float: left;
    width: 100%;
}
.acc-info{
   text-align: center;
   border-bottom: 1px solid #721a0c;
   padding: 8px 0 0 0;
}
.acc-info p{
    margin-bottom: 8px;
    text-align: left;
    padding-left: 20px;
}



.mat-card{
    min-height: 460px !important;
}