a:hover{
    color: #c19953 !important;
}            

a.active-link{
    background: #c19953 !important;
}

a.active-link:hover{
    color: #fff !important;
}


.sidebar-area .mat-drawer-inner-container{
overflow: overlay ;
}