.mat-tab-body table, th, td {
    border: 1px solid #ccc;
}
.mat-tab-body table, th {
    padding: 10px 15px !important;
    border-bottom: 1px solid #ccc !important;
}

th, td {
    width: 300px;
    text-align: center !important;
}
td input{
    text-align: center;
}
.ex_cls{
width: 200px;
}