<div style="padding-top: 15px;width: 100%;float:left;background: url(white.png);    margin-bottom: 60px;">

  <div id="center_section" class="container">
    <section>
      <div class="container my-4">

        <div class="pg-header fade-in-bottom">
          <h1>The Param Vir Chakra Awardees</h1>

          <p>
            The Param Vir Chakra (PVC) is India's highest military decoration,<br>
            awarded for displaying distinguished acts of valour during wartime.
          </p>

          <div class="param-vir crest-line">
            <div></div>
          </div>
        </div>
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>

          </ol>
          <!--/.Indicators-->

          <!--Slides-->
          <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img
                    src="https://u7.uidownload.com/vector/65/347/vector-indian-flag-stylish-wave-illustration-for-independence-day-background-vector-ai-eps.jpg"
                    style="
            height: 336px;
            position: absolute;
            opacity: .1;
            object-fit: cover;
        ">
                  <div class="page-card mr-1 param_vir_chakra">
                    <div class="item-media">
                      <img class="per-use" src="assets/img/param_vir_chakra.png" alt="Line Break">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2>Capt Gurbachan Singh Salaria </h2>
                        <p>POSTHUMOUS, Unit 3/1 GR, Course-10, SQN-B</p>
                        <h3>Year: 1961<!----></h3>

                      </div>

                      <div class="flex flex-row justify-center align-items-center py-1">
                        <button class="read-more">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img
                    src="https://u7.uidownload.com/vector/65/347/vector-indian-flag-stylish-wave-illustration-for-independence-day-background-vector-ai-eps.jpg"
                    style="
    height: 336px;
    position: absolute;
    opacity: .1;
    object-fit: cover;
">
                  <div class="page-card mr-1 param_vir_chakra">
                    <div class="item-media">
                      <img class="per-use" src="assets/img/param_vir_chakra.png" alt="Line Break">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2>Capt Gurbachan Singh Salaria </h2>
                        <p>POSTHUMOUS, Unit 3/1 GR, Course-10, SQN-B</p>
                        <h3>Year: 1961<!----></h3>

                      </div>

                      <div class="flex flex-row justify-center align-items-center py-1">
                        <button class="read-more">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img
                    src="https://u7.uidownload.com/vector/65/347/vector-indian-flag-stylish-wave-illustration-for-independence-day-background-vector-ai-eps.jpg"
                    style="
    height: 336px;
    position: absolute;
    opacity: .1;
    object-fit: cover;
">
                  <div class="page-card mr-1 param_vir_chakra">
                    <div class="item-media">
                      <img class="per-use" src="assets/img/param_vir_chakra.png" alt="Line Break">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2>Capt Gurbachan Singh Salaria </h2>
                        <p>POSTHUMOUS, Unit 3/1 GR, Course-10, SQN-B</p>
                        <h3>Year: 1961<!----></h3>

                      </div>

                      <div class="flex flex-row justify-center align-items-center py-1">
                        <button class="read-more">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img
                    src="https://u7.uidownload.com/vector/65/347/vector-indian-flag-stylish-wave-illustration-for-independence-day-background-vector-ai-eps.jpg"
                    style="
            height: 336px;
            position: absolute;
            opacity: .1;
            object-fit: cover;
        ">
                  <div class="page-card mr-1 param_vir_chakra">
                    <div class="item-media">
                      <img class="per-use" src="assets/img/param_vir_chakra.png" alt="Line Break">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2>Capt Gurbachan Singh Salaria </h2>
                        <p>POSTHUMOUS, Unit 3/1 GR, Course-10, SQN-B</p>
                        <h3>Year: 1961<!----></h3>

                      </div>

                      <div class="flex flex-row justify-center align-items-center py-1">
                        <button class="read-more">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img
                    src="https://u7.uidownload.com/vector/65/347/vector-indian-flag-stylish-wave-illustration-for-independence-day-background-vector-ai-eps.jpg"
                    style="
    height: 336px;
    position: absolute;
    opacity: .1;
    object-fit: cover;
">
                  <div class="page-card mr-1 param_vir_chakra">
                    <div class="item-media">
                      <img class="per-use" src="assets/img/param_vir_chakra.png" alt="Line Break">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2>Capt Gurbachan Singh Salaria </h2>
                        <p>POSTHUMOUS, Unit 3/1 GR, Course-10, SQN-B</p>
                        <h3>Year: 1961<!----></h3>

                      </div>

                      <div class="flex flex-row justify-center align-items-center py-1">
                        <button class="read-more">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img
                    src="https://u7.uidownload.com/vector/65/347/vector-indian-flag-stylish-wave-illustration-for-independence-day-background-vector-ai-eps.jpg"
                    style="
    height: 336px;
    position: absolute;
    opacity: .1;
    object-fit: cover;
">
                  <div class="page-card mr-1 param_vir_chakra">
                    <div class="item-media">
                      <img class="per-use" src="assets/img/param_vir_chakra.png" alt="Line Break">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2>Capt Gurbachan Singh Salaria </h2>
                        <p>POSTHUMOUS, Unit 3/1 GR, Course-10, SQN-B</p>
                        <h3>Year: 1961<!----></h3>

                      </div>

                      <div class="flex flex-row justify-center align-items-center py-1">
                        <button class="read-more">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img
                    src="https://u7.uidownload.com/vector/65/347/vector-indian-flag-stylish-wave-illustration-for-independence-day-background-vector-ai-eps.jpg"
                    style="
    height: 336px;
    position: absolute;
    opacity: .1;
    object-fit: cover;
">
                  <div class="page-card mr-1 param_vir_chakra">
                    <div class="item-media">
                      <img class="per-use" src="assets/img/param_vir_chakra.png" alt="Line Break">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2>Capt Gurbachan Singh Salaria </h2>
                        <p>POSTHUMOUS, Unit 3/1 GR, Course-10, SQN-B</p>
                        <h3>Year: 1961<!----></h3>

                      </div>

                      <div class="flex flex-row justify-center align-items-center py-1">
                        <button class="read-more">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img
                    src="https://u7.uidownload.com/vector/65/347/vector-indian-flag-stylish-wave-illustration-for-independence-day-background-vector-ai-eps.jpg"
                    style="
    height: 336px;
    position: absolute;
    opacity: .1;
    object-fit: cover;
">
                  <div class="page-card mr-1 param_vir_chakra">
                    <div class="item-media">
                      <img class="per-use" src="assets/img/param_vir_chakra.png" alt="Line Break">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2>Capt Gurbachan Singh Salaria </h2>
                        <p>POSTHUMOUS, Unit 3/1 GR, Course-10, SQN-B</p>
                        <h3>Year: 1961<!----></h3>

                      </div>

                      <div class="flex flex-row justify-center align-items-center py-1">
                        <button class="read-more">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!--/.Second slide-->



          </div>
          <!--/.Slides-->

        </div>
      </div>
      <!--/.Carousel Wrapper-->
    </section>
    <section>
      <div class="container">
        <div class="pg-header fade-in-bottom" style="    margin-top: 80px;">
          <h1>Awardees</h1>
          <p>
            Honouring the Courage and Sacrifice of Our Bravehearts
          </p>
          <div class="param-vir crest-line">
            <div>

            </div>

          </div>
        </div>
        <div class="tbbb">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <img class="img-dd"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkHAD9jfPBOebP3gag3iShiLvq_X1MQ3dLQNNNf6Z3Ibq3Ewd8t2yexX7xGI6WRT8VHu4&usqp=CAU">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">SYSM</a>
            </li>
            <li class="nav-item">
              <img class="img-dd" src="assets/img/2.png">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">Mahavir Chakra</a>
            </li>
            <li class="nav-item">
              <img class="img-dd" src="assets/img/3.png">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">Kirti Chakra</a>
            </li>
            <li class="nav-item">
              <img class="img-dd" src="assets/img/uysm4.png">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">UYSM</a>
            </li>
            <li class="nav-item">
              <img class="img-dd" src="assets/img/sh.png">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">Shaurya Chakra</a>
            </li>
            <li class="nav-item">
              <img class="img-dd" src="assets/img/vir.png">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">Vir Chakra</a>
            </li>
            <li class="nav-item">
              <img class="img-dd" src="https://i.pinimg.com/originals/b3/67/cb/b367cbf60f432eefb655c9ca6c4a0d57.jpg">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">Ashoka Chakra</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row" style="    margin-top: 40px;">
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>

                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="row" style="    margin-top: 40px;">
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>

                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row" style="    margin-top: 40px;">
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>

                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="row" style="    margin-top: 40px;">
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>

                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="row" style="    margin-top: 40px;">
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>

                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="row" style="    margin-top: 40px;">
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="page-card maha_vir_chakra">
                    <div class="item-media">
                      <img class="use-img" alt="GURBACHAN SINGH SALARIA"
                        src="https://cdn.iconscout.com/icon/free/png-256/army-3148686-2621216.png">
                      <div class="media-links"></div>
                    </div>

                    <div class="card-body">
                      <div class="card-title">
                        <h2><!---->2/LT BHAGWAN DUTT DOGRA<!----></h2>
                        <h3><!---->UNIT INF, COURSE-20, SQN-C<!----></h3>
                        <h3>Year: 1964<!----></h3>
                        <div class="flex flex-row justify-center align-items-center py-1">
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>






<div class="modal gc-modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
    </div>
  </div>
</div>