.mt-23{
    margin-top: 23px;
}

.mr-10{
    margin-right: 10px;
}

.right{
    float: right;
}
button.btn.btn-success.add-gs {
    background: #721a0c;
    border: navajowhite;
    padding-top: 10px;
    border-radius: 50%;
}
.rmv{
    width: 40px;border-radius: 50%;height: 40px;text-align: center;display: flex;align-items: center;justify-content: center;
}


.col-md-12.pd{
    margin: -23px;
    margin-top: 3px;
}