<div class="main-content">
    <div class="container-fluid">
        <div class="mat-new">
            <h4 class="card-heading">ACADEMIC DEPARTMENT <span class="sub-menu1">> Examination> Assessment -{{term}} >
                    INTELLECTUAL SKILLS DEVP >Mid-Term</span></h4>

        </div>
        <div class="academics">
            <div class="mat-card mat-focus-indicator">
                <form class="ng-untouched ng-pristine ng-invalid">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="battalion">Battalion</label>
                            <select [(ngModel)]="battalion" name="battalion" (change)="battalionSelected($event)"
                                class="form-control">
                                <option value="0" selected>Select</option>
                                <option *ngFor="let b of battalionList" [value]="b.shortName"> {{b.shortName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="company">Company</label>
                            <select [(ngModel)]="company" name="company" class="form-control"
                                (change)="companySelected($event)">
                                <option value="0" selected>Select</option>
                                <option *ngFor="let c of companyList" [value]="c.name"> {{c.name}}</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="rank">Search</label>
                                <input placeholder="Search" formcontrolname="" type="text" name="serviceid"
                                    [(ngModel)]="serviceid" (keyup)="serviceSearch($event.target.value)"
                                    class="form-control ng-untouched ng-pristine ng-invalid">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>&nbsp;</label>
                            <button type="button" mat-raised-button (click)="edSearch()">Search</button>
                            <button mat-raised-button (click)="clearSearch()">Clear</button>
                        </div>
                    </div>
                </form>
                <form class="oq-matrix-form">
                    <table class="tg mb-2">
                        <thead>
                            <tr>
                                <th class="tg-qnnc" rowspan="3">S. No.</th>
                                <th class="tg-qnnc" rowspan="3">IMA No.</th>
                                <th class="tg-qnnc" rowspan="3">Course</th>
                                <th class="tg-qnnc" rowspan="3">Name</th>
                                <th class="tg-qnnc" rowspan="3">Rank</th>
                                <th class="tg-qnnc" rowspan="3">Bn/Coy</th>
                                <th class="tg-qnnc" colspan="9">Subjects</th>
                            </tr>
                            <tr>
                                <th colspan="1" style="width: 11%;" *ngFor="let subject of intellectualSubjectList"
                                    class="tg-qnnc">
                                    {{subject.subjectName}}<br>Marks
                                    ({{subject.midTotalMarks}})</th>

                                <th class="tg-qnnc" rowspan="3">Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let leadership of intellectualCadetList; let leadershipIndex = index">
                                <td class="tg-c3ow">{{ leadershipIndex + 1}}</td>
                                <td class="tg-c3ow">{{ leadership.serviceId }}</td>
                                <td class="tg-0pky">{{ leadership.course }}</td>
                                <td class="tg-c3ow">{{ leadership.name }}</td>
                                <!-- <td class="tg-0pky">{{ leadership.nationality }}</td> -->
                                <td class="tg-c3ow">
                                    <p *ngIf="leadership.nationality=='India'">OC</p>
                                    <p *ngIf="leadership.nationality !='India'">FGC</p>
                                </td>
                                <td class="tg-c3ow">{{leadership.battalian}}/{{ leadership.company}}</td>
                                <td class="tg-c3ow"
                                    *ngFor="let leadershipSubject of leadership.intellectualSkillsResult.intellectualSkillsSubResult; let leadershipSubjectIndex = index">
                                    <div class="d-flex">
                                        <ng-container>
                                            <input type="text" class="form-control d-inline"
                                                value="{{leadershipSubject.midObtainedMarks}}"
                                                (focus)="onFocusEvent($event.target.value,leadershipIndex)" min="0"
                                                (keypress)="keyPress($event)"
                                                on-focusout="onChange($event,$event.target.value, leadershipSubject.midTotalMarks, leadershipSubject.subjectId, leadershipIndex, leadershipSubjectIndex)">
                                        </ng-container>
                                    </div>
                                </td>

                                <td class="tg-0pky">
                                    <input type="text" class="form-control" disabled id="{{leadershipIndex}}"
                                        value="{{ leadership.intellectualSkillsResult.midObtainedMarks }}">
                                </td>



                                <div *ngIf="!leadership.intellectualSkillsResult">
                                    <div *ngFor="let size of leaderShipSubject;let ser=index;">
                                        <td class="tg-c3ow">
                                            <input type="text" class="form-control" formControlName="midObtainedMarks">
                                        </td>
                                        <td *ngIf="ser+1 == leaderShipSubject.length" class="tg-c3ow">
                                            {{obtainedTotalMarks}}</td>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <td class="mat-cell" style="text-align: center;" *ngIf="! intellectualCadetList?.length"
                                    colspan="14">
                                    <div>No Record Found</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <mat-paginator #myPaginator [length]="resultsLength" [pageIndex]="currentPage" [pageSize]="pageSize"
                    [pageSizeOptions]="[50]" aria-label="Select page" showFirstLastButtons>
                </mat-paginator>
                <div class="btn-sec mt-3 text-right  mb-3">
                    <button type="button" disabled mat-raised-button (click)="openPopup()"
                        *ngIf="! intellectualCadetList?.length">Preview</button>
                    <button type="button" mat-raised-button (click)="openPopup()"
                        *ngIf="intellectualCadetList?.length > 0">Preview</button>

                    <!-- ////dshsj -->
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-lg modal-dialog-scrollable custom-lg" role="document">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h5 class="modal-title">Review</h5>
            </div>
            <div class="modal-body">
                <table class="tg">
                    <thead>
                        <tr>
                            <th class="tg-qnnc" rowspan="3">S. No.</th>
                            <th class="tg-qnnc" rowspan="3">IMA No.</th>
                            <th class="tg-qnnc" rowspan="3">Course</th>
                            <th class="tg-qnnc" rowspan="3">Name</th>
                            <th class="tg-qnnc" rowspan="3">Rank</th>
                            <th class="tg-qnnc" rowspan="3">Bn/Coy</th>
                            <th class="tg-qnnc" colspan="9">Subjects</th>
                        </tr>
                        <tr>
                            <th colspan="1" style="width: 11%;" *ngFor="let subject of intellectualSubjectList"
                                class="tg-qnnc">
                                {{subject.subjectName}}<br>Marks
                                ({{subject.midTotalMarks}})</th>

                            <th class="tg-qnnc" rowspan="3">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leadership of intellectualCadetList; let leadershipIndex = index">
                            <td class="tg-c3ow">{{ leadershipIndex + 1}}</td>
                            <td class="tg-c3ow">{{ leadership.serviceId }}</td>
                            <td class="tg-0pky">{{ leadership.course }}</td>
                            <td class="tg-c3ow">{{ leadership.name }}</td>
                            <!-- <td class="tg-0pky">{{ leadership.nationality }}</td> -->
                            <td class="tg-c3ow">
                                <p *ngIf="leadership.nationality=='India'">OC</p>
                                <p *ngIf="leadership.nationality !='India'">FGC</p>
                            </td>
                            <td class="tg-c3ow">{{leadership.battalian}}/{{ leadership.company}}</td>
                            <td class="tg-c3ow"
                                *ngFor="let leadershipSubject of leadership.intellectualSkillsResult.intellectualSkillsSubResult; let leadershipSubjectIndex = index">
                                <div class="d-flex">
                                    <ng-container>
                                        <input type="text" disabled class="form-control d-inline"
                                            value="{{leadershipSubject.midObtainedMarks}}"
                                            (focus)="onFocusEvent($event.target.value,leadershipIndex)"
                                            on-focusout="onChange($event.target.value, leadershipSubject.midTotalMarks, leadershipSubject.subjectId, leadershipIndex, leadershipSubjectIndex)">
                                    </ng-container>
                                </div>
                            </td>

                            <td class="tg-0pky">
                                <input type="text" class="form-control" disabled id="{{leadershipIndex}}"
                                    value="{{ leadership.intellectualSkillsResult.midObtainedMarks }}">
                            </td>



                            <div *ngIf="!leadership.intellectualSkillsResult">
                                <div *ngFor="let size of leaderShipSubject;let ser=index;">
                                    <td class="tg-c3ow">
                                        <input type="text" class="form-control" formControlName="midObtainedMarks">
                                    </td>
                                    <td *ngIf="ser+1 == leaderShipSubject.length" class="tg-c3ow">
                                        {{obtainedmidTotalMarks}}</td>
                                </div>
                            </div>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button mat-raised-button type="button" class="btn-dark" (click)="closePopup()">Back</button>
                <button type="button" mat-raised-button (click)="confirm()">Submit</button>

            </div>
        </div>
    </div>
</div>