<div class="main-content">
  <div class="container-fluid">
    <div class="mat-heading">
      <div id="top-bar" class="">
        <h2>TRG TEAM <span class="sub-menu1">
            > MR Prac > {{type}}</span></h2>
      </div>
    </div>
    <div class="academics">
      <div class="mat-card mat-focus-indicator">
        <!-- <div class="ng-star-inserted">
                  <div class="mat-new mb-4">
                      <h4 class="card-heading">MR Prac</h4>
                  </div>
              </div> -->
        <form class="ng-untouched ng-pristine ng-invalid">
          <div class="row">
            <div class="form-group col-md-3">
              <label for="battalion">Battalion</label>
              <select id="battalion" name="battalion" (change)="battalionSelected($event.target.value)" class="form-control">
                <option value="0" selected>Select</option>
                <option *ngFor="let b of battalionList" [value]="b.shortName"> {{b.shortName}}</option>
              </select>
              
            </div>
            <div class="form-group col-md-3">
              <label for="company">Company</label>
              <select id="company" class="form-control" name="company"  (change)="companySelected($event.target.value)">
                <option value="0" selected>Select</option>
                <option *ngFor="let c of companyList" [value]="c.name"> {{c.name}}</option>
              </select>
             
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="rank">Search</label>
                <input placeholder="IMA No." formcontrolname="" type="text" name="serviceid" [(ngModel)]="serviceid" (keyup)="serviceSearch($event.target.value)"
                  class="form-control ng-untouched ng-pristine ng-invalid">
              </div>
            </div>
            <div class="col-md-3">
              <label>&nbsp;</label>
              <button type="button" mat-raised-button (click)="edSearch()">Search</button>
              <!-- <button mat-raised-button (click)="clearSearch()" >Clear</button> -->
            </div>
          </div>
        </form>
        <form class="oq-matrix-form">
          <table class="tg">
            <thead>
              <tr>
                <th class="tg-qnnc" rowspan="3">S. No.</th>
                <th class="tg-qnnc" rowspan="3">IMA No.</th>
                <th class="tg-qnnc" rowspan="3">Course</th>
                <th class="tg-qnnc" rowspan="3">Name</th>
                <th class="tg-qnnc" rowspan="3">Rank</th>
                <th class="tg-qnnc" rowspan="3">Bn/Coy</th>
                <th class="tg-qnnc" colspan="9">MR Prac</th>
              </tr>
              <tr>
                <th class="tg-qnnc">Total Mark <br> (25)</th>
                <th class="tg-qnnc">Remarks</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let leadership of runBackCadetList; let leadershipIndex = index">
                <td class="tg-c3ow">{{ leadershipIndex + 1}}</td>
                <td class="tg-c3ow">{{ leadership.serviceId }}</td>
                <td class="tg-0pky">{{ leadership.course }}</td>
                <td class="tg-c3ow">{{ leadership.name }}</td>
                <td class="tg-c3ow">
                  <p *ngIf="leadership.nationality=='India'">GC</p>
                  <p *ngIf="leadership.nationality !='India'">FGC</p>
                </td>
                <td class="tg-c3ow">{{leadership.battalian}}/{{ leadership.company}}</td>
                <td class="tg-c3ow">
                  <div class="d-flex">
                    <ng-container>
                      <input type="text" class="form-control d-inline"
                        value="{{leadership.runbackRouteMrResult.obtainedMarks}}" (keypress)="keyPress($event)"
                        on-focusout="onChange($event,$event.target.value, leadershipIndex)">
                    </ng-container>
                  </div>
                </td>

                <td class="tg-0pky">
                  <div class="d-flex">
                    <ng-container>
                      <input type="text" class="form-control d-inline"
                        value="{{leadership.runbackRouteMrResult.remark}}"
                        on-focusout="onChange1($event.target.value, leadershipIndex)">
                    </ng-container>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="mat-cell" style="text-align: center;" *ngIf="! runBackCadetList?.length" colspan="14">
                  <div>No Record Found</div>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        <mat-paginator #myPaginator [length]="resultsLength" [pageIndex]="currentPage" [pageSize]="pageSize"
          [pageSizeOptions]="[50]" (page)="pageChanged($event)" aria-label="Select page" showFirstLastButtons>
        </mat-paginator>
        <div class="btn-sec mt-3 text-right">
          <button type="button" disabled mat-raised-button (click)="openPopup()" *ngIf="! runBackCadetList?.length">Preview</button>
          <button type="button" mat-raised-button (click)="openPopup()" *ngIf="runBackCadetList?.length > 0">Preview</button>

          <!-- ////dshsj -->
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-lg modal-dialog-scrollable custom-lg" role="document">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title">Review</h5>
      </div>
      <div class="modal-body">
        <table class="tg">
          <thead>
            <tr>
              <th class="tg-qnnc" rowspan="3">S. No.</th>
              <th class="tg-qnnc" rowspan="3">IMA No.</th>
              <th class="tg-qnnc" rowspan="3">Course</th>
              <th class="tg-qnnc" rowspan="3">Name</th>
              <th class="tg-qnnc" rowspan="3">Rank</th>
              <th class="tg-qnnc" rowspan="3">Bn/Coy</th>
              <th class="tg-qnnc" colspan="9">Runback</th>
            </tr>
            <tr>
              <th class="tg-qnnc">Total Mark <br> (50)</th>
              <th class="tg-qnnc">Remarks</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leadership of runBackCadetList; let leadershipIndex = index">
              <td class="tg-c3ow">{{ leadershipIndex + 1}}</td>
              <td class="tg-c3ow">{{ leadership.serviceId }}</td>
              <td class="tg-0pky">{{ leadership.course }}</td>
              <td class="tg-c3ow">{{ leadership.name }}</td>
              <td class="tg-c3ow">
                <p *ngIf="leadership.nationality=='India'">GC</p>
                <p *ngIf="leadership.nationality !='India'">FGC</p>
              </td>
              <td class="tg-c3ow">{{leadership.battalian}}/{{ leadership.company}}</td>
              <td class="tg-c3ow">
                <div class="d-flex">
                  <ng-container>
                    <input type="text" disabled class="form-control d-inline"
                      value="{{leadership.runbackRouteMrResult.obtainedMarks}}" min="0"
                      oninput="this.value =  !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                      on-focusout="onChange($event.target.value, leadershipIndex)">
                  </ng-container>
                </div>
              </td>

              <td class="tg-0pky">
                <ng-container>
                  <input disabled type="text" class="form-control d-inline" value="{{leadership.runbackRouteMrResult.remark}}"
                    min="0"
                    oninput="this.value =  !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                    on-focusout="onChange($event.target.value, leadershipIndex)">
                </ng-container>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button mat-raised-button type="button" class="btn-dark" (click)="closePopup()">Back</button>
        <button type="button" mat-raised-button (click)="confirm()">Submit</button>

      </div>
    </div>
  </div>
</div>