.mat-heading {
  clear: both;
  padding-top: 10px;
}
div#top-bar {
  background: #e1e3de;
  padding:10px 15px;
  color: #bb9450;
  clear: both;
  border-radius: 5px;
}
div#top-bar h2 {
  font-size: 16px;
    margin: 0;
  }
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.mat-new {
    padding: 0.875;
}
h4.card-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #721a0c;
    background: #eee;
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: 600;
}
 .mat-card {
    margin: 1rem 0;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.4s ease 0s;
    padding: 0.875rem 0.875rem !important;
}
.mat-card:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.form-control {
    box-shadow: 1px 1px 4px #ccc;
}
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;width: 100%;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:15px;word-break:normal;vertical-align: middle;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:15px;word-break:normal;}
.tg .tg-qnnc{background-color:#c6c4c4;border-color:inherit;text-align:center;vertical-align:middle !important;font-weight: bold !important;}
.tg .tg-baqh{text-align:center;vertical-align:top;font-weight: normal;}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:middle;font-weight: normal;}
.tg .tg-as14{background-color:#c6c4c4;border-color:inherit;text-align:center;vertical-align:middle;font-weight: bold;}
.tg .tg-0pky{border-color:inherit;text-align:center;vertical-align:middle;}
.tg .tg-0lax{text-align:center;vertical-align:top;font-weight: normal;}
.modal-content {
    max-width: 100% !important;
}


// juend


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .custom-lg {
    max-width: unset;
    margin: 0px;
    border-radius: 1px;
    .modal-content {
        border-radius: 0px;
    }
}

.oq-matrix-form{
    overflow-x: scroll;
}

.modal-dialog-scrollable {
  max-height: 100%;
  }
  .modal-dialog-scrollable .modal-content{
    max-height: 100%;
  }