<div class="mat-new">
    <h4 class="card-heading">PT <span class="sub-menu1"> > {{term}} > {{subject}} </span> 
    <div class="pull-right" *ngIf="finalSubmissionDate"> Last Date for Marks Submission : {{finalSubmissionDate | date:'dd MMM yyyy'}} </div>
    </h4>
</div>

<mat-card>
    <!-- <form class="ng-untouched ng-pristine ng-invalid"> -->
    <div class="row">

        <div class="form-group col-md-4">
            <label for="battalion">Battalion</label>
            <select id="battalion" (change)="battalionSelected($event.target.value)" class="form-control"
                [(ngModel)]="battalionId">
                <option value="" selected hidden disabled>Select</option>
                <option *ngFor="let b of battalionList" [value]="b.id"> {{b.shortName}} Bn</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="company">Company</label>
            <select id="company" class="form-control" (change)="companySelected($event.target.value)"
                [(ngModel)]="companyId">
                <option value="" selected hidden disabled>Select</option>
                <option *ngFor="let c of companyList" [value]="c.id"> {{c?.name || ''}}</option>
            </select>
        </div>


        <div class="col-md-4">
            <div class="form-group">
                <label for="rank">Search</label>
                <input placeholder="IMA Number/Service Id" type="text" [(ngModel)]="serviceId"
                    class="form-control ng-untouched ng-pristine ng-invalid">
            </div>
        </div>

        <!-- <div class="col-md-3">
                <div class="form-group">
                    <label for="rank">Attempt Type</label>
                    <select id="company" class="form-control">
                        <option *ngFor="let att of attemtTypes" [value]="at"> {{att}}</option>
                    </select>
                </div>
            </div> -->



    </div>

    <div style="float: right;">
        <button mat-raised-button (click)="search()">Submit</button>
        <button mat-raised-button (click)="clearSearch()">Clear</button>
    </div>
    <!-- </form> -->

</mat-card>
<mat-card class="ppt-table">

    <div class="list-spinner" *ngIf="!cadetList.length && showSpinner">
        <div class="spinner-border " role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="!cadetList.length && !showSpinner">
        <h5> {{statusMsg}}</h5>
    </div>


    <table class="tg" *ngIf="cadetList.length">
        <thead class="table-head">
            <tr>
                <th class="tg-qnnc" rowspan="2">S. No.</th>
                <th class="tg-qnnc" rowspan="2">IMA No.</th>
                <th class="tg-qnnc" rowspan="2">Rank</th>
                <th class="tg-qnnc" rowspan="2">Name</th>
                <th class="tg-qnnc" rowspan="2">Course</th>

                <th class="tg-qnnc" colspan="3">SOT (MM-{{maxMarks}}) </th>

                <th class="tg-qnnc" rowspan="2">Total (MM-{{maxMarks}})</th>

            </tr>

            <tr>
                <th>Attempt Type</th>
                <th>Obtained Marks</th>
                <th>Grade</th>
            </tr>

        </thead>

        <tbody *ngIf="cadetList.length">
            <tr *ngFor="let cadet of cadetList;let i=index">
                <td> {{i+1}} </td>
                <td> {{cadet.serviceId}} </td>
                <td>
                    <span *ngIf="cadet.nationality == 'India'">OC</span>
                    <span *ngIf="cadet.nationality != 'India'">FGC</span>
                </td>
                <td class="name-coloumn"> {{cadet.name}} </td>
                <td> {{cadet.course}} </td>

                <ng-container *ngFor="let sub of cadet.edossierPtResult.edossierPtSubjectResult;let j=index">
                    <td>
                        <span *ngIf="!hasAccess"> {{sub.lastAttemptType}} </span>
                        <select *ngIf="hasAccess" id="company" class="form-control" [(ngModel)]="sub.lastAttemptType">
                            <option value="" selected hidden disabled>--</option>
                            <!-- <option *ngFor="let att of attemtTypes" [value]="att"> {{att}}</option> -->
                            <option value="M1">M1</option>
                            <!-- <option [disabled]="!sub.m1ObtainedMarks" value="M2">M2</option>
                            <option [disabled]="!sub.m2ObtainedMarks" value="C1">C1</option>
                            <option [disabled]="!sub.c1ObtainedMarks" value="C2">C2</option> -->
                            <option value="M2">M2</option>
                            <option value="C1">C1</option>
                            <option value="C2">C2</option>
                        </select>
                    </td>
                    <td style="max-width: 122px;">
                        <span *ngIf="sub.lastAttemptType == 'M1' && !hasAccess "> {{sub.m1ObtainedMarks}} </span>
                        <span *ngIf="sub.lastAttemptType == 'M2' && !hasAccess "> {{sub.m2ObtainedMarks}} </span>
                        <span *ngIf="sub.lastAttemptType == 'C1' && !hasAccess "> {{sub.c1ObtainedMarks}} </span>
                        <span *ngIf="sub.lastAttemptType == 'C2' && !hasAccess "> {{sub.c2ObtainedMarks}} </span>

                        <input *ngIf="sub.lastAttemptType == 'M1' && hasAccess " (keypress)="onlyNum($event)"
                            (focusout)="patchNumbers($event,sub,i,j,'M1')" maxlength="2" name="" id=""
                            class="form-control" [(ngModel)]="sub.m1ObtainedMarks">
                        <input *ngIf="sub.lastAttemptType == 'M2' && hasAccess" (keypress)="onlyNum($event)"
                            (focusout)="patchNumbers($event,sub,i,j,'M2')" maxlength="2" name="" id=""
                            class="form-control" [(ngModel)]="sub.m2ObtainedMarks">
                        <input *ngIf="sub.lastAttemptType == 'C1' && hasAccess" (keypress)="onlyNum($event)"
                            (focusout)="patchNumbers($event,sub,i,j,'C1')" maxlength="2" name="" id=""
                            class="form-control" [(ngModel)]="sub.c1ObtainedMarks">
                        <input *ngIf="sub.lastAttemptType == 'C2' && hasAccess" (keypress)="onlyNum($event)"
                            (focusout)="patchNumbers($event,sub,i,j,'C2')" maxlength="2" name="" id=""
                            class="form-control" [(ngModel)]="sub.c2ObtainedMarks">
                    </td>
                    <td>
                        <span *ngIf="sub.resultGrade">
                            {{sub.resultGrade}}
                        </span>
                    </td>

                </ng-container>

                <td>
                    <span *ngIf="cadet.edossierPtResult.sotTotal">
                        {{cadet.edossierPtResult.sotTotal}}
                    </span>
                </td>

            </tr>
        </tbody>
    </table>


    <!-- <div class="">
        <mat-paginator #myPaginator [length]="resultsLength" [pageSizeOptions]="[25]" showFirstLastButtons>
        </mat-paginator>
    </div> -->

    <br>
    <div *ngIf="hasAccess" class="pull-right mb-4">
        <button mat-raised-button (click)="submitResult()" [disabled]="!cadetList.length">
            Submit
        </button>
    </div>
</mat-card>