<div class="main-content">
    <div class="container-fluid">
        <div id="top-bar" class="row">
            <h2>E-Dossier - CAMPS</h2>
        </div>
        <div class="eqtn mb-5">
            <div class="ng-star-inserted">
                <div class="mat-new mb-4 mt-3">
                    <h4 class="card-heading">CAMPS : I TERM</h4>
                </div>
            </div>
            <div class="mat-card mat-focus-indicator">
                <div class="ng-star-inserted">
                    <div class="mat-new mb-4">
                        <h4 class="card-heading">EX-</h4>
                    </div>
                </div>
                <table class="tg">
                    <thead>
                        <tr>
                            <th class="tg-akbm" colspan="4"><span style="font-weight:700;font-style:normal;text-decoration:underline;color:#000;background-color:transparent">Performance During Camp</span><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent"> (To include application of theoretical knowledge on ground, tactical acumen, logical approach, briefing/ orders , appt held, runback and any specific strength/ weaknesses) -</span><br>
                                <form class="ng-untouched ng-pristine ng-invalid mt-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea rows="5" placeholder="" formcontrolname="" class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tg-lqy6"><span style="font-weight:bold;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Spot Test (50 Mks)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                            <td class="tg-l71o" colspan="2" rowspan="2"><span style="font-weight:700;font-style:italic;text-decoration:none;color:#000;background-color:transparent"><textarea rows="5" placeholder="" formcontrolname="" class="form-control ng-untouched ng-pristine ng-invalid mb-2"></textarea>(Name/ Signature of Pl/ Coy Cdr)</span></td>
                        </tr>
                        <tr>
                            <td class="tg-lqy6"><span style="font-weight:bold;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Performance in Coy (75 Mks)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="tg-l2oz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Total Camp Mks (125)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                            <td class="tg-l2oz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Route March/ Run Back (65)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ng-star-inserted">
                <div class="mat-new mb-4 mt-3">
                    <h4 class="card-heading">CAMPS : II TERM</h4>
                </div>
            </div>
            <div class="mat-card mat-focus-indicator">
                <div class="ng-star-inserted">
                    <div class="mat-new mb-4">
                        <h4 class="card-heading">EX-</h4>
                    </div>
                </div>
                <table class="tg">
                    <thead>
                        <tr>
                            <th class="tg-akbm" colspan="4"><span style="font-weight:700;font-style:normal;text-decoration:underline;color:#000;background-color:transparent">Performance During Camp</span><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent"> (To include application of theoretical knowledge on ground, tactical acumen, logical approach, briefing/ orders , appt held, runback and any specific strength/ weaknesses) -</span><br>
                                <form class="ng-untouched ng-pristine ng-invalid mt-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea rows="5" placeholder="" formcontrolname="" class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tg-lqy6"><span style="font-weight:bold;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Spot Test (50 Mks)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                            <td class="tg-l71o" colspan="2" rowspan="2"><span style="font-weight:700;font-style:italic;text-decoration:none;color:#000;background-color:transparent"><textarea rows="5" placeholder="" formcontrolname="" class="form-control ng-untouched ng-pristine ng-invalid mb-2"></textarea>(Name/ Signature of Pl/ Coy Cdr)</span></td>
                        </tr>
                        <tr>
                            <td class="tg-lqy6"><span style="font-weight:bold;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Performance in Coy (75 Mks)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="tg-l2oz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Total Camp Mks (125)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                            <td class="tg-l2oz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Route March/ Run Back (65)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ng-star-inserted">
                <div class="mat-new mb-4 mt-3">
                    <h4 class="card-heading">CAMPS : II TECH</h4>
                </div>
            </div>
            <div class="mat-card mat-focus-indicator">
                <div class="ng-star-inserted">
                    <div class="mat-new mb-4">
                        <h4 class="card-heading">EX-</h4>
                    </div>
                </div>
                <table class="tg">
                    <thead>
                        <tr>
                            <th class="tg-akbm" colspan="4"><span style="font-weight:700;font-style:normal;text-decoration:underline;color:#000;background-color:transparent">Performance During Camp</span><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent"> (To include application of theoretical knowledge on ground, tactical acumen, logical approach, briefing/ orders , appt held, runback and any specific strength/ weaknesses) -</span><br>
                                <form class="ng-untouched ng-pristine ng-invalid mt-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea rows="5" placeholder="" formcontrolname="" class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tg-lqy6"><span style="font-weight:bold;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Spot Test (50 Mks)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                            <td class="tg-l71o" colspan="2" rowspan="2"><span style="font-weight:700;font-style:italic;text-decoration:none;color:#000;background-color:transparent"><textarea rows="5" placeholder="" formcontrolname="" class="form-control ng-untouched ng-pristine ng-invalid mb-2"></textarea>(Name/ Signature of Pl/ Coy Cdr)</span></td>
                        </tr>
                        <tr>
                            <td class="tg-lqy6"><span style="font-weight:bold;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Performance in Coy (75 Mks)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="tg-l2oz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Total Camp Mks (125)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                            <td class="tg-l2oz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Route March/ Run Back (65)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ng-star-inserted">
                <div class="mat-new mb-4 mt-3">
                    <h4 class="card-heading">CAMPS : III TERM</h4>
                </div>
            </div>
            <div class="mat-card mat-focus-indicator">
                <div class="ng-star-inserted">
                    <div class="mat-new mb-4">
                        <h4 class="card-heading">EX-</h4>
                    </div>
                </div>
                <table class="tg">
                    <thead>
                        <tr>
                            <th class="tg-akbm" colspan="4"><span style="font-weight:700;font-style:normal;text-decoration:underline;color:#000;background-color:transparent">Performance During Camp</span><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent"> (To include application of theoretical knowledge on ground, tactical acumen, logical approach, briefing/ orders , appt held, runback and any specific strength/ weaknesses) -</span><br>
                                <form class="ng-untouched ng-pristine ng-invalid mt-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea rows="5" placeholder="" formcontrolname="" class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tg-lqy6"><span style="font-weight:bold;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Spot Test (50 Mks)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                            <td class="tg-l71o" colspan="2" rowspan="2"><span style="font-weight:700;font-style:italic;text-decoration:none;color:#000;background-color:transparent"><textarea rows="5" placeholder="" formcontrolname="" class="form-control ng-untouched ng-pristine ng-invalid mb-2"></textarea>(Name/ Signature of Pl/ Coy Cdr)</span></td>
                        </tr>
                        <tr>
                            <td class="tg-lqy6"><span style="font-weight:bold;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Performance in Coy (75 Mks)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="tg-l2oz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Total Camp Mks (125)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                            <td class="tg-l2oz"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Route March/ Run Back (65)</span></td>
                            <td class="tg-0lax"><input type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>