button.btn.btn-success.add-gs {
    background: #721a0c;
    border: navajowhite;
    padding-top: 10px;
    border-radius: 50%;
}
.rmv{
    width: 40px;border-radius: 50%;height: 40px;text-align: center;display: flex;align-items: center;justify-content: center;
}