.maincontent {
    min-height: 45vw;
}

// .container-fluid{
//   padding-right: 0;
// }
.mat-new {
    clear: both;
    padding: 10px 0 !important;
    display: block;
}

.mat-new h4 {
    margin-bottom: 0;
}

.sub-menu1 {
    color: #721a0c;
}

.mat-card {
    margin: 1rem 0;
}

.example-container {
    min-height: auto;
}

.btn-set {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}